<EXTEND name="Print/Template/base.html"/>
<BLOCK name="title">云印招领-社交广播</BLOCK>
<BLOCK name="addhead"></BLOCK>
<BLOCK name="header">
<h1 class="text-center text-primary">立即广播到社交网络</h1>
</BLOCK>

<BLOCK name='content'>
<div class="container-fluid">
    <div class="row col-xs-offset-2 col-xs-8">
        <div class="alert alert-warning">
            <p>欢迎来到——便捷、高效的通知平台，拒绝丢失物品刷屏，净化微博、人人、朋友圈<br/>
            在这里，你给失主的留言将和预先设定的文字模板组合成一条状态，并发送到云印的微博和人人公众平台</p>
            <p><a href="http://weibo.com/cloudPrint">云印南天官方微博</a>和<a href="http://page.renren.com/602117408">人人公众主页</a>将立即发送此招领信息，请关注动态</p>
        </div>
    </div>
    <form id="sendform" method="post" onsubmit="return check(this);" action="__URL__/send">
        <div class="row col-xs-offset-2 col-xs-8 form-group">
            <label>你想对失主说的话：</label>
            <textarea maxlength="60" placeholder="留下你的联系方式（如：联系手机12xxxxxx）或者告诉他去哪里取（如：6宿大爷处取卡）" class="form-control" rows="3" name="add_msg" id="add_msg" onkeyup="preview_send()" required></textarea>
        </div>
        <div class="row col-xs-offset-2 col-xs-8 form-group">
            <label>将发送的信息预览：</label>
            <div id="preview_msg" class="bg-info" style="margin-top:10px; margin-bottom:10px;">{$send_msg} </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-offset-2 col-xs-8 text-center">
                <button class="btn btn-lg btn-default" type="submit">发布</button>
                <a class="btn btn-lg btn-default" href="/Card">返回</a>
            </div>
        </div>
    </form>
    <input type="hidden" id="send_msg" value="{$send_msg}"/>
    <div class="row col-xs-offset-2 col-xs-8 text-center">
        <p class='help-block'>请勿恶意使用，若遭举报将永久收回你对此功能的使用权</p>
    </div>
</div>
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modal_label">发布预览</h3>
            </div>
            <div class="modal-body" id='modal_content'></div>
            <div class="modal-footer" >
                <button id="ok" onclick="send()" type="button" class="btn btn-primary ok">确认发布</button>
                <button id="cancel" type="button" class="btn btn-default cancel" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
</BLOCK>
<BLOCK name='end'>
<script>
function preview_send(){
var send_msg = document.getElementById('send_msg').value;
var add_msg = document.getElementById('add_msg').value;
    document.getElementById("preview_msg").innerHTML = send_msg + '<strong>' + add_msg + '</strong>' + '。请同学们奔走相告！';
}
function check(f)
{
	var send_msg = document.getElementById('preview_msg').innerHTML;
	$('#modal_label').html('发布预览');
	$('#modal_content').html(send_msg);
	$('#modal').modal('show');
	return false;
}
function send()
{
    $('#ok').attr('disabled', true).html('正在发送...');
	var url=document.forms.sendform.action;
	var msg=document.getElementById('add_msg').value.trim();
	$.post(url,{'add_msg':msg},function(data){
		if(data.status)
		{	
			$('#modal_label').html('发布成功');
			$('#modal_content').html(data.info);
            $('#ok').html('已经发送').attr('disabled',true);
			
		}else{
			$('#modal_label').html('发布失败');
			$('#modal_content').html(data.info);
            $('#ok').hide();
		}

		$('#modal').modal('show');
		if(data.url)
		{	
			setTimeout(function() {location.href=data.url;}, 5000);
		}
	});
}
</script>
</BLOCK>