<extend name="Print/Template/base.html"/>
<block name='header'>
<include file="Print/Template/nav.html" card="active"/>
</block>
<block name='content'>
 <h1 class="text-center text-primary">校园卡招领中心</h1>
<section class='row'>
    <ul class="text-center list-inline">
        <li><a class="btn btn-success" href="__URL__/log">找回记录<span class="badge">{$new}</span></a></li>
    </ul>
</section>
<section class='row alert well'>
    <h2 class="text-center">捡到了TA的校园卡?</h2>
    <form id='findform' role="form" method="post" onsubmit="return check(this);" action="__URL__/find">
        <div class="col-md-offset-1 col-md-4">
            <label class="sr-only"  for="number">学号</label>
            <input class="form-control" placeholder='失主卡号' name="number" type="text" id="number" autocomplete="off" required>
        </div>
        <div class="col-md-4">
            <label class="sr-only"  for="name">姓名</label>
            <input class="form-control" placeholder='失主姓名' name="name" type="text" id="name" autocomplete="off" required>
        </div>
        <div class="text-center col-md-2">
            <button type="submit" id='submit' class="form-control btn btn-danger">通知失主</button>
        </div>
    </form>
</section>
<section class='row alert alert-warning'>
    <div class="col-xs-10 col-xs-offset-1 col-lg-offset-0 col-lg-12">
        <ul>
            <li>如果你拾到了同学的校园卡（学号相关证件）,在此输入TA的<q>卡号（学号）</q>和TA的<q>姓名</q>;</li>
            <li>系统会把你的联系方式（绑定的<code>手机号</code>和绑定的<code>邮箱</code>）和丢失信息通知到TA的手机和邮箱（如果有的话）,TA将可以联系到你;</li>
            <li>为了防止恶意使用,每个人的使用次数有限制;如果收到骚扰举报将永久封禁此功能</li>     
        </ul>
    </div>
</section>
<section class='row alert alert-success'>
    <div class="col-xs-10 col-xs-offset-1 col-lg-offset-0">
        校园卡招领平台，由<a>云印南天团队</a>提供全力支持；<br/>任何问题请及时联系我们contact@yunyin.org。
    </div>
</section>
<div class="modal fade" id="modal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="modal_label"></h3>
            </div>
            <div class="modal-body"><span id='modal_content'></span><a id="modal_url"></a></div>
         <div class="modal-footer" >
            <button id="okbtn" type="button" class="btn btn-primary ok">确认</button>
            <button type="button" class="btn btn-default cancel" data-dismiss="modal">取消</button>
          </div>
        </div>
    </div>
</div>
</block>
<block name='end'>
<script>
function check(f) {
   $('#okbtn').hide()
    var title = $('#modal_label');
    var content = $('#modal_content');
    var name = f['name'].value.trim();
    var number = f['number'].value.trim();
    if (!/^(\d{7}|\d{10})$/.test(number)) {
       title.html('错误提示');
       content.html('卡号（学号）格式不对,目前只支持南开和天大在校学生！');
        f['number'].focus();
    } else if (!/^([\u4E00-\uFA29]|[\uE7C7-\uE7F3]){2,8}$/.test(name)) {
        title.html('错误提示');
        content.html('请填写正确的名字,云小印认为"'+name+'"不是名字！！！');
        f['name'].focus();
    } else{
        title.html("确认信息");
        content.html("确认学号是否正确<b><mark>"+number+"</mark></b>("+name+")?");
        $('#okbtn').unbind("click").show().click(function(){find(number,name);});
    }
    $('#modal').modal('show');
    return false;
} 

function find(number,name)
{
    $('#okbtn').unbind("click").hide();
    $('#submit').attr('disabled', true).html('正在核实...');
        var url =document.forms['findform'].action;
        $.post(url, {
            'name': name,
            'number': number
        }, function(data, status) {
            var title = $('#modal_label');
            var content = $('#modal_content');
            var link = $('#modal_url').html('');
            var btn = $('#submit');
            if (status == "success") {
                if (data.status) {
                    title.html('成功提示');
                    content.html(data.info);
                    btn.html('已经通知');
                } else {
                    if (data.url) {
                        link.attr('href', data.url).html('发送广播');
                    }
                    title.html('通知失败');
                    btn.html('通知失主').attr('disabled', false);
                    content.html(data.info);
                }
            } else {
                title.html('服务器错误');
                content.html('服务器链接出错');
                btn.html('稍后再试');
            }
            $('#modal').modal('show');
        });
}
</script>
</block>