<EXTEND name="Print/Template/base.html"/>
<BLOCK name='header'>
<include file="Print/Template/nav.html" card="active"/>
</BLOCK>
<BLOCK name='content'>
<h1 class="text-center text-primary">我的校园卡找回记录</h1>
<section class='row alert alert-danger'>
    <h2>丢失记录</h2>
    <EMPTY name='lost'>
    你还没有丢过卡哦o(^▽^)o
    <ELSE/>
    <FOREACH name="lost" item="v">
    <div id="{$v['id']}">
        <i class="glyphicon glyphicon-phone showPhone"></i>
        <code class='name label-info'> {$v['find_name']} ({$v['find_number']})</code>
        同学于 <span class=''>{$v['time']}</span> 捡到我的卡
        <SWITCH name="v['status']" >
        <CASE value="-1">
        <mark class='label label-danger'>已举报</mark>
        </CASE>
        <CASE value="0">
        <mark class='label label-primary'>已忽略</mark>
        </CASE>
        <CASE value="1">
        <mark class='label label-success'>已感谢</mark>
        </CASE>
        <DEFAULT />
        <span class='result'>
        <button class="btn btn-success" value="1">感谢</button>
        <button class="btn btn-danger" value="-1">举报</button>
        </span>
        </SWITCH>
    </div>
    </FOREACH>
    </EMPTY>
</section>
<section class='row alert alert-success'>
    <h2>找到记录</h2>
    <EMPTY name='find'>
    空空如也!
    <ELSE/>
    <FOREACH name="find" item="v">
    <div>
        我在<span class=''>{$v['time']}</span>捡到
        <code class='label-info'> {$v['lost_name']} ({$v['lost_number']})</code> 同学的卡
        <SWITCH name="v['status']" >
        <CASE value="-1">
        <mark class='label label-danger'>被举报</mark>
        </CASE>
        <CASE value="0">
        <mark class='label label-primary'>被忽略</mark>
        </CASE>
        <CASE value="1">
        <mark class='label label-success'>收到感谢</mark>
        </CASE>
        <DEFAULT />
        <mark class='label label-warning'>待处理</mark>
        </SWITCH>
    </div>
    </FOREACH>
    </EMPTY>
</section>
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modal_label">TA的手机</h3>
            </div>
                <div class="modal-body" id='modal_content'></div>
        </div>
    </div>
</div>
</BLOCK>
<BLOCK name='end'>
<script>
$('.result>button').click(function() {
    var status = this.value;
    var msg = '确认';
    switch (status) {
        case '1':
            msg = '确认TA真的捡到你的卡，对TA表示感谢！';
            break;
        case '-1':
            msg = '确认TA在骚扰，举报TA！（如被举报超过2次，系统将会对他限制此功能！）';
            break;
    }
    if (confirm(msg)) {
        var url = '/Card/result';
        var id = $(this).parent('.result').hide().parent().attr('id');
        $.post(url, {
            'id': id,
            'status': status
        }, function(data, result) {
            var r = $('#' + id+' .result').show();
            if (result == 'success') {
                if (data.status) {
                    switch (status) {
                        case '1':
                            r.addClass('label label-success').html('已感谢');
                            break;
                        case '0':
                            r.addClass('label label-primary').html('已忽略');
                            break;
                        case '-1':
                            r.addClass('label label-danger').html('已举报');
                            break;
                    }
                }else{
                alert(data.info);
                }
            } else {
                alert('服务器连接出错！');
            }
        })
    }
});

$(".showPhone").click(function(){
    var url = '/Card/showPhone';
    var id = $(this).parent().attr('id');
    $.post(url, {
            'id': id
        }, function(data, result){
            if (result == 'success'){
                $("#modal_label").html('查询结果');
                $("#modal_content").html('TA的手机号码是:<strong>' + data.info.phone +'</strong>');
            }
            $("#modal").modal('show');
        }                   
    );
});
</script>
</BLOCK>