<footer class='container-fluid'>
	<ul class="list-inline text-center">
		<li><a href="http://www.yunyin.org/" target="_blank">&copy;云印南天</a></li>
		<li><a href="https://github.com/YunYinORG/" target="_blank">开源项目</a></li>
		<li><a href="mailto:feedback@yunyin.org">反馈</a></li>
		<li><a href="http://weibo.com/cloudPrint" target="_blank">微博</a></li>
		<li><a id="YunYinNanTian" data-query='#YunYinNanTian' href="http://www.yunyin.org/assets/image/weixin_qrcode.png">微信</a></li>
	</ul>
</footer>
<div class="modal fade" id="YunYinNanTian-qrcode" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="ModalLabel">扫描二维码关注<strong>云印南天</strong></h3>
            </div>
            <div class="modal-body"><img class="center-block" src="http://www.yunyin.org/assets/image/weixin_qrcode.png">
            <p>Search in wechat:<code>YunYinNanTian</code></p></div>
        </div>
    </div>
</div>

<script>
$(function()
{
$("#YunYinNanTian").click(function () {
	$("#YunYinNanTian-qrcode").modal('show');
}).attr('href','#YunYinNanTian');
});
</script>