{//信息管理页}
<extend name="Public/template/base.html"/>
<block name='header'>
<include file="./Public/template/nav.html" info="current_page_item"/>
</block>

<block name='head'>
<style type="text/css">
#subtitle {
font-family: "Comic Sans MS", cursive;
font-size: 24px;
color: #666;
text-align: left;
}
.subtitle {
font-family: "Comic Sans MS", cursive;
font-size: 24px;
color: #333;
}
.userinfo {
font-family: "Lucida Console", Monaco, monospace;
font-size: 16px;
}
</style>

</block>
<block name='content'>
    <div class="title" >
        <h2>用户信息管理</h2>
    </div>

    <div class="info">
        <div class="user">
            <div class="subtitle">
                <p>{$data.name}的信息</p>
			<a href="__URL__/logout"><p>用户注销/重新登录</p></a>
            </div>
        </div>
        <div class="ChangePwd">
            <div class="subtitle">
                <p>修改密码</p>
            </div>
            <form role="form" method="post" action="__URL__/change">
                <div class="form-group">
                    <label for="deprecated_password">当前密码</label>
                    <input name="deprecated_password" type="password" id="deprecated_password">
                </div>
                 <div class="form-group">
                    <label for="password">新密码</label>
                    <input name="password" type="password" id="password">
                </div> 
                <div class="form-group">
                    <label for="re_password">确认新密码</label>
                    <input name="re_password" type="password" id="re_password">
                </div> 
                <button type="submit" class="btn btn-default">确定</button>
            </form>
        </div>
    </div>
</block>
