<!DOCTYPE html>
<html lang="zh-cmn-Hans">
    <head>
        <meta charset="utf-8">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>云印南开</title>
        <meta name="keywords" content="云印南开" />
        <meta name="description" content="云印南开,南开大学云打印平台,南开云印平台" />
        <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link  href="__PUBLIC__/css/new.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
    <div class="text-center">
          <h1 class="text-primary">云印南开<small>—南开云打印平台</small></h1>
        <p><span class="label label-primary">无需“忧”盘</span> <span class="label label-info">提前打印</span> <span class="label label-success">状态可查</span> <span class="label label-warning">地点自选</span> <span class="label label-danger">明码标价</span></p>
        </div>
        <main class="container">          
            <div class="col-lg-12">
                <div class='thumbnail'>
                    <img src="__PUBLIC__/images/map.jpg" class="img-responsive">
                </div>
            </div>
            <IF condition='$islogin'>
            <div  class="col-md-4 col-md-offset-4">
                <div class="btn-group-justified">
                    <div class="btn-group">
                        <a class="btn btn-lg btn-success" href="/File/add">GO,去打印！</a>
                    </div>
                </div>
                </div>
            <ELSE/>
            <form class="col-lg-12" id="form1" name="form1" method="post" action="/User/auth" onsubmit="return checkForm();">
                <div class="myrow">
                    <div class="alert alert-info">
                        <p id="info" align="center">目前仅对南开大学<strong>学生</strong>开放，初次使用南开大学URP系统账号密码登录即完成注册</p>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-lg-4 col-md-5 col-sm-8 col-lg-offset-1 ">
                        <div class="input-group">
                            <span class="input-group-addon">账号</span>
                            <input type="text"  id="name" tabindex="1" name="student_number" class="form-control" placeholder="URP账号（学号）" required>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-8">
                        <div class="input-group">
                            <span class="input-group-addon">密码</span>
                            <input type="password" tabindex="2" class="form-control" id="pwd" name="password" placeholder="密码(注册用URP密码)" required>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-1 col-sm-8">
                        <div class="input-group" id="login">
                            <input id="submit-btn" type="submit" tabindex="3" class="form-control btn btn-success" value="登陆(注册)" title="初次密码为当前URP系统密码"/>
                        </div>
                    </div>
                </div>
            </form>
            </IF>
        </main>
        <footer class='copyright text-center'>
            <ul class="list-inline">
                <li> <a href="/Index/privacy">隐私声明</a></li>
                <li> <a href="/User/forget">找回密码</a></li>
                <li><a href="/Printer/">打印店</a></li>
                <li><a href="https://github.com/nkumstc/print">开源项目</a></li>
                <li><a href="mailto:contactATprint.nkumstc.cn" onclick="this.href=this.href.replace(/AT/,'&#64;')">联系我们</a></li>
            </ul>
        </footer>
    </body>
    <script language="javascript" type="text/javascript">
    function checkForm()
    {
        var name = document.getElementById("name").value;
        var btn = document.getElementById("submit-btn");
        var re1 = /^[1][0-4]\d{5}$/;                 // undergraduate stu_num
        var re2 = /^\d{2}[1-2][0|9][0|1|8|9]\d{5}$/; // graduate and P.H.D. stu_num
        if(!re1.test(name) && !re2.test(name))
        {
            document.getElementById("info").innerHTML = "请输入格式正确的学号！";
            document.getElementById("name").focus();
            return false;
        }
        btn.value = '正在验证中...';
        btn.disabled = true;
        return true;
    }
    </script>
</html>
