<EXTEND name="Print/Template/base.html"/>

<BLOCK name="head">
    <title>云印南天隐私声明</title>
    <meta name="keywords" content="云印南天隐私声明" />
    <meta name="description" content="南开大学和天津大学校园云打印平台隐私保护政策"/>
    <link href="__CDNLIB__/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
</BLOCK>

<BLOCK name="header">
    <h1 class="text-center text-primary"><a href="/__ROOT__">云印南天</a>——隐私声明</h1>
</BLOCK>

<BLOCK name='content'>
    <article class="container text-center">
        <div class="row col-md-10 col-md-offset-1">
            <h2 class="text-info">信息授权</h2>
            <div class="alert alert-info text-left">
                <ul>
                    <li>为了保证您是南开大学，天津大学或者其他支持的高校在校学生，我们（云印南天）需要<code>验证</code>和保存您的<u>学号</u></li>
                    <li>为了保证信用和方便您打印，我们需要保存和使用您的真实<u>姓名</u></li>
                    <li>虽然某种程度上您的学号和姓名是公开,但我们仍然需要您的<code>授权</code>。</li>
                    <li>同时我们保证不泄露，出售或者滥用您的个人信息。</li>
                    <li>完成首次登录即同意授权。</li>
                </ul>
            </div>
        </div>
        <div class="row col-md-10 col-md-offset-1">
            <h2 class="text-warning">隐私保护</h2>
            <div class="alert alert-warning text-left">
                <ul>
                    <li>除以下两点原因外,我们 <strong>不会公开您的个人信息</strong>，您的<u>个人信息</u>（学号和姓名）只有你和所选打印店双方可见。</li>
                    <li>对于<code>违法</code>者,由有关部门依照相关法律处理。</li>
                    <li>对于有严重<code>不诚信</code>行为者，将记录到诚信档案；云印南天平台有权公布其学号，姓名和不诚信记录。</li>
                    <li>我们不会公开您的<u>打印记录</u>，您可以在打印完成成后删除文件使得打印店亦不可见。</li>
                </ul>
            </div>
        </div>
        <div class="row col-md-10 col-md-offset-1">
            <h2 class="text-success">信息收集</h2>
            <div class="alert alert-success text-left">
                <ul>
                    <li>我们会使用您的浏览器的<code>cookie</code>信息(仅包含您在此的登录信息)，从而为您提供更方便流畅的体验。</li>
                    <li>对于<code>暴力尝试</code>（包括短时间内连续超过10次的验证尝试）我们会记录下相关网络信息和相关账户。</li>
                    <li>对于<code>恶意使用</code>者，我们有权封号，并保留追究起责任的权利。</li>
                    <li>我们不会收集任何 <strong>不需要</strong>或者<strong>未授权</strong>的信息。</li>
                </ul>
            </div>
        </div>
        <div class="row col-md-10 col-md-offset-1">
            <h2 class="text-danger">资料安全</h2>
            <div class="alert alert-danger text-left">
                <ul>
                    <li>您在打印之前或者打印之后均可<code>删除</code>服务器上保存的文件。</li>
                    <li>您也可以在取走文件时，要求打印店<code>删除</code>下载的内容。</li>
                    <li>对于<code>机密性文件</code>，我们暂不推荐通过此云印南天打印。</li>
                </ul>
            </div>
        </div>
        <div class="row col-md-10 col-md-offset-1">
            <h2 class="text-primary">免责声明</h2>
            <div class="alert alert-info text-left">
                <ul>
                    <li>因用户行为产生的任何不良后果，云印南天概不负责。</li>
                    <li>云印南天是非盈利，非商业化，非从属于学校机构的<code>独立平台</code>；所有交易不通过此平台，不对交易纠纷负责。</li>
                    <li>云印南天保留对以上内容解释，完善和调整的权利。</li>
                </ul>
            </div>
        </div>
        <div class="row col-md-10 col-md-offset-1">
            <h2 class="text-danger">补充说明</h2>
            <div class="alert alert-warning text-left">
                <ul>
                    <li>云印南天<strong>不会明文保存</strong>您的密码，密码保存经过复杂不可逆加密保存。</li>
                    <li>保护用户隐私安全是我们的重要职责。我们的一切均是为了提供更加方便安全的打印体验。</li>
                    <li>云印南天坚持<code>免费</code>和<code>开源</code>，云印南天平台不会向用户和打印店收取费用；只要遵循我们的开源协议，程序代码亦可免费使用和修改。</li>
                    <li>任何问题均可联系我们: <a href="mailto:contactATyunyin.org" onclick="this.href=this.href.replace(/AT/,&quot;&#64;&quot;)">contact&#64;yunyin.org</a>。</li>
                    <li>谢谢您的支持，我们只要更方便的校园服务！</li>
                </ul>
            </div>
        </div>
        <div class="row col-md-10 col-md-offset-1 text-center">
            <a class="btn btn-lg btn-success" href="/__ROOT__" onclick="this.href+=window.location.search.replace('?','')">返回</a>
        </div>
    </article>
</BLOCK>

<BLOCK name="endjs"></BLOCK>