<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>云印-打印店管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/login.css">
</head>
<body>
    <div id="carbonForm" style="margin-top: 107.5px; font-size: 20px;">
        <h2>注册添加打印店</h2>
        <div class="signupButton">
            <a href="__URL__/register"><h2>打印店注册<h2></a>
        </div>
    </div>
    <div id="carbonForm" style="margin-top: 107.5px; font-size: 20px;">
        <h2>已注册打印店管理</h2>
        <div class="signupButton">
            <a href="__URL__/manage"><h2>已注册打印店管理<h2></a>
        </div>
    </div>
</body>
</html>