/*basic*/
html, body {
  height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background: #202020;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
    font-weight: 300;
    background-color: #222;
    border-color: #080808;
}

p, ul {
    margin-top: 0;
}

p {
    line-height: 180%;
}

ul {
    padding: 0;
    list-style: none;
}

a {
  text-decoration: none;
}

nav {
    text-align: center;
    overflow: hidden;
}

nav ul {} nav li {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
}

nav li a , nav li span {
    display: block;
    padding: 2em 1.5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
}

nav li:hover a, nav li.active a, nav li.active span {
    color: rgba(214, 214, 214, 1);
}

#main {
    overflow: hidden;
    float: right;
    width: 77%;
    padding: 3em 2% 5em 3%;
    background: #FFF;
    border-top: 0px solid #2980b9;
    min-height: 100%;
    text-align: left;
}


#moreSetting {
  margin-top: 0px;
}

#banner {
    margin-bottom: 4em;
}

.comments{
  font-size:13px;
}

/*nav-top*/
.navbar-brand {
    padding-top: 4.5px;
}

.nav-title: target {
    padding-top: 60px;
    margin-top: -55px;
}

/*upload*/
.upload-btn{
  height: 40px;
  border-style: solid;
  border-width: 2px;
  background: #FFFFFF;
  position: relative;
}

.upload-area {
  text-align:center;
  padding-top: 7px;
  font-size: 15px;
  font-weight: 800;
}

#upload-file {
    cursor: pointer;
    font-size: 30px;
    outline: medium none;
    position: absolute;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    opacity:0; 
    left: 0px;
    top: 0px;
}

#upload-list{
  margin-bottom:0px;
  margin-top:10px;
}

#upload-list li{
  font-size: 13px;
}

/*user-info*/

#info-title{
  font-type:Arial;
  font-size:12px;
  color:#AAAAAA;
}

.info-label a {
  text-decoration: none;
  color: #FFFFFF;
}

#carbonForm{
  margin-top: 107.5px;
  font-size: 20px;
}

/*Printers*/
.printersBlock a {
  text-decoration: none;
}

.printersBlock h1,h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.printersBlock hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*media*/

@media screen and (max-width: 500px){
  #main {
    text-align: center;
  }
}

@media screen and (min-width: 968px){
  #printersMain {
    margin-left: -25px;
  }
}

@media screen and (max-width: 1275px) {
  /*nav-top*/
  #main {
    position: absolute;
    top: 0px;
    width: 100%;
    padding-top: 80px;
  }
  #top-logo {
    width: 80px;
    height: 40px;
  }
}

@media screen and (min-width: 1275px) {
  /* 23% left-nav , 77% main */
  #main {
    width: 77%;
  }
  #header {
    position: relative;
    float: left;
    width: 23%;
    padding: 2em 1% 0 1%;
  }
  #printersMain {
    margin-left: -50px;
  }
  .printerlist {
    position: relative;
    float: left;
    width: 23%;
    padding: 2em 1% 0 1%;
  }
  .printerlist .navbar-nav > li > a{
    line-height: 0em;
  }
  /*bootstrap-nav*/
  nav {
      text-align: center;
      display: block;
  }
  .narbar {
    min-height: 100%;
  }
  .navbar-header{
    position: relative;
    width: 100%;
  }
  .navbar-collapse {
    position: relative;
    min-height: 100%;
    max-height: 100%;
  }
  .navbar-fixed-top {
      position: static;
      z-index: 1;
      border-width: 0 0 0px;
      top: 0px;
  }
  .navbar-nav {
    float: none;
  }
  .navbar-nav > li {
      display: block;
      position: relative;
      width: 100%;
      text-align: center;
  }
  .navbar-nav > li > a{
    font-size: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    line-height: 2.5em;
  }
  /*logo*/
  a.navbar-brand {
    position: relative;
    float: none;
    height: 100%;
    padding: 0px 0px;
    font-size: 10pt;
    line-height: 0px;
    text-align: center;
    top: 0px;
  }
  .navbar-brand > img {
    display: inline;
    width: 100%;
    position: relative;
  }
  #top-logo {
      width: 55%;
      border-radius: 50%;
      margin-bottom: 2em;
      z-index: 1;
      position: relative;
  }
 .navbar-toggle {
      display: none;
  }
}

/*footer*/
footer{
  overflow: hidden;
  padding: 2em 0em;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}
footer ul{
  text-align: center;
}
footer li{
  display: inline;
}
footer li:before {
    margin-right: 0.5em;
    color: rgba(0, 0, 0, 0.09);
    content: '|';
 }
footer li:first-child:before {
    content: ' ';
 }