* {
	margin:0;
	padding:0;
	webkit-box-sizing: content-box;
	box-sizing: content-box;
}

html{
	overflow:auto;
}

body {
	font-size:0.825em;
	background:repeat-x #222222;
	color:#eee;
	font-family:Arial, Helvetica, sans-serif,'微软雅黑';
	line-height: default;
}

a {
	color: wheat;
}

#carbonForm {
	background-color:#333333;
	border:1px solid #080808;
	margin:20px auto;
	padding:20px;
	width:500px;
	-moz-box-shadow:0 0 1px #444 inset;
	-webkit-box-shadow:0 0 1px #444 inset;
	box-shadow:0 0 1px #444 inset;
}

#carbonForm h1 {
	font-family:Century Gothic,Myriad Pro,Arial,Helvetica,sans-serif;
	font-size:60px;
	font-weight:normal;
	padding:0 0 30px 10px;
	text-align:center;
}

.fieldContainer {
	background-color:#1E1E1E;
	border:1px solid #0E0E0E;
	padding:30px 10px;
	-moz-box-shadow:0 0 20px #292929 inset;
	-webkit-box-shadow:0 0 20px #292929 inset;
	box-shadow:0 0 20px #292929 inset;
}

#carbonForm,.fieldContainer,.errorTip {
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
}


.formRow {
	height:35px;
	padding:10px;
	position:relative;
}

.label {
	float:left;
	padding:0 20px 0 0;
	text-align:right;
	width:70px;
}

label {
	font-family:Century Gothic,Myriad Pro,Arial,Helvetica,sans-serif;
	font-size:11px;
	letter-spacing:1px;
	line-height:35px;
}

.field {
	float:left;
}

.field input{
	/* The text boxes */
	width: 110%;
	height: 90%;
	border:1px solid white;
	color:#666666;
	font-family:Arial,Helvetica,sans-serif;
	font-size:22px;
	padding:4px 5px;
	background: #FFFFFF;
	outline:none; /* Preventing the default Safari and Chrome text box highlight */
}

button {
	color:black;
}

.signupButton{
	/* The submit button container */
	text-align:center;
	padding:30px 0 10px;
}

#submit{
	/* The submit button */
	border:1px solid #f4f4f4;
	cursor:pointer;
	height:40px;
	/*text-indent:-9999px;*/
	text-transform:uppercase;
	width:110px;
	
	background: #d0ecfd;
	
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
}

#submit:hover{
	background-color:#dcf2ff;
	border:1px solid white;
}

input:hover,input:focus {
	-moz-box-shadow:0 0 8px lightblue;
	-webkit-box-shadow:0 0 8px lightblue;
	box-shadow:0 0 8px lightblue;
}

.errorTip{
	background-color:#970F08;
	color:white;
	font-size:10px;
	height:26px;
	letter-spacing:0.4px;
	margin-left:20px;
	padding:5px 0 5px 10px;
	position:absolute;
	text-shadow:1px 1px 0 #555555;
	width:200px;
	right:-130px;
}