@charset"utf-8";
html {
    background-image: url(../images/background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background-repeat: no-repeat;*/
    background-attachment: fixed;
}
body{
      background-color: transparent;
}

.thumbnail {
    border: 1px hidden !important;
    background-color: transparent;
}
img {
    opacity: 0.95;
    filter: alpha(opacity=95);
    border-radius: 20px;
}
footer {
    padding-top: 1em;
}
footer a {
    color: #676767;
}
#copy {
    color: #FF3300;
    font-family: "Comic Sans MS", cursive;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #FFF;
    border-radius: 10px;
    text-align: center;
}
@media(min-width: 1200px) {
    .input-group {
        margin-top: 2%;
   }
   .myrow {
       width: 79%;
       margin-left: 11%;
       height: 25%;
  }
/*  .alert {
      padding: 0px;
      margin-bottom: 1px;
      margin-top: 2px;
 }*/
 .row {
     margin-left: 5%;
}
.alert-info {
    /*color: #FF0000;*/
    font-size: 18px;
    /*font-weight: bold;*/
    /*background-color: transparent;*/
    /*border-color: transparent;*/
}
#login>.btn {
    margin-top: 2px;
}
}
@media(min-width: 992px) {
    img {
        width: 80%;
   }
/*   #login>.btn {
       margin-top: 3px;
  }*/
}
@media(max-width: 1200px) {
/*    .input-group {
        margin-top: 2%;
   }*/
   .myrow {
       width: 97%;
       margin-left: 2%;
  }
  #login>.btn {
      margin-top: 3px;
 }
}
@media(max-width: 992px) {
    .row {
        margin-left: 20%;
   }
   #login {
       margin-left: 40%;
  }
}
@media(max-width: 768px) {
    .row {
        margin-left: 0;
   }
   #login {
       margin-left: 40%;
  }
}
@media(max-width: 568px) {
/*    .container {
        margin-top: 25%;
   }*/
   .input-group {
       margin-top: 2%;
  }
  .myrow {
      width: 92%;
      margin-left: 5%;
 }
}
@media(max-width: 468px) {
    #login {
        margin-left: 35%;
   }
}