<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>云印南开-后台管理页面登录</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/login.css">
</head>
<body>
    <form method="post" action="/Admin/Index/auth">
        <input type="text"     id="account"  name="account"  placeholder="账号" required><br>
        <input type="password" id="password" name="password" placeholder="密码" required><br>
        <input type="submit"   id="submit-btn" value="登录"/>
    </form>
</body>
</html>