<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>云印南开-打印店注册</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/login.css">
</head>
<body>
    <form method="post" action="__URL__/addPrinter">
        账号:<input type="text" name="account"><br>
        密码:<input type="password" name="password"><br>
        打印店名称:<input type="text" name="name"><br>
        地址:<input type="text" name="address"><br>
        手机号码:<input type="text" name="phone"><br>
        QQ号:<input type="text" name="qq"><br>
        <input type="submit" value="submit">
    </form>
</body>