{//信息界面}
<EXTEND name="Print/Template/printerbase.html"/>
<BLOCK name='header'>
<include file="Print/Template/printernav.html" books="active"/>
</BLOCK>
<BLOCK name='content'>
<div>
    <h2>{$data['name']}</h2>
    <br/>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
                <h4><strong>批量添加书籍</strong></h4>
                <p class="text-danger">一次尽量不要超过500行</p>
                <form role="form" method="post" action="__URL__/insert">
                    <div class="form-group">
                        <textarea class="form-control" rows="12" placeholder="书名写在这里,一行一个" name="books"></textarea>
                    </div>
                    <div class="input-group text-center">
                        <button type="submit" class="btn btn-success" >添加</button>
                    </div>
                </form>
                <p>提示 批量提取文件名<code>DIR/ON/B>LIST.TXT</code></p>
                <p>所有文件的版权和对应责任归上传店所有</p>
        </div>
    </div>
</div>
</BLOCK>