{//信息界面}
<EXTEND name="Print/Template/printerbase.html"/>
<BLOCK name='header'>
<include file="Print/Template/printernav.html" books="active"/>
</BLOCK>
<BLOCK name='content'>
<div>
    <div>
        <h2>详情</h2>
    </div>
    <div class="container-fulid">
        <form  role="form" method="post" action="__URL__/save/id/{$book['id']}">
            <div class="form-group">
            <label>名称</label>
                <input class="form-control" placeholder="名称" value="{$book['name']}" name="name"/>
            </div>
            <div class="form-group">
             <label>详情</label>
                <textarea class="form-control" placeholder="介绍说明" name="detail">{$book['detail']}</textarea>
            </div>
            <div class="form-group">
              <label>价格（单位元）</label>
                <input class="form-control" type="number" value="{$book['price']}" placeholder="价格" name="price"/>
            </div>
             <div class="form-group">
              <label>配送说明</label>
                <input class="form-control" type="text" value="{$book['send']}" placeholder="" name="send"/>
            </div>
            <div class="input-group text-center">
                <button type="submit" class="btn btn-success" >保存</button>
            </div>
        </form>
    </div>
</div>
</BLOCK>