<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>打印信息设置_云印</title>
<meta name="keywords" content="" />
<meta name="description" content="" />

 <load href="/Public/css/default.css" />
 <load href="/Public/css/fonts.css" />
 <load href="/Public/css/modal.css" />
 <load href="/Public/js/jquery-1.9.1.min.js" /> 
 <load href="/Public/js/jquery.leanModal.min.js" />
</head>

<body>
<div id="page" class="container">
	<div id="header">
		<div id="logo">
		  <p><img src="__PUBLIC__/images/logo.png" alt="" width="100%" height="25%" /></p>
		  <h1><a href="#">云印服务平台</a></h1>
	    </div>
		<nav class="menu">
			<ul>
				<li><a href="__ROOT__/Printer/File/" accesskey="1" title="">打印管理界面</a></li>
                <li><a href="__ROOT__/Printer/Printer/history" accesskey="2" title="">打印文件历史记录</a></li>
			    <li><a href="__ROOT__/Printer/Printer/" accesskey="3" title="">信息管理</a></li>
				<li><a href="__ROOT__/Printer/Printer/about.html" accesskey="4" title="">关于云印</a></li>
				<li><a href="__ROOT__/Printer/Printer/contact.html" accesskey="5" title="">联系我们</a></li>
			</ul>
		</nav>
	</div>
	
	{__CONTENT__}
	      <div id="copyright">
			<span>&copy;2014 云印服务. ABOUT 云印. | 关于云印服务平台<a href=“#”></a></span>
			<span>.-欢迎您的使用-</span>
	  </div>
</div>
<div id="loginmodal" style="display:none;">
    <form id="loginform" name="conf_form" method="post" action="test.html">
     <p>您的打印请求已成功提交！</p>
      <div class="center">
      <center><input type="submit" name="confirm" id="confirmbtn" class="flatbtn-blu hidemodal" value="确定" tabindex="3" onClick="ToHomepage()"></center>
      </div>
    </form>
  </div>
</body>
</html>
