<div class="text-info">
    <h2>云印南开简介</h2>
<p> 经过几年的大学生活我们体会到校园打印虽然便宜，但是真的不够方便。比如：普遍存在着优盘容易中毒；打印时间集中，需要等待；版式不会校对，需要打印店工作人员的协助；印量大了，等待时间较长等等一系列问题，导致打印起来体验并不好，云印南开希望通过自己来实现更好更舒适的打印体验。云印南开整个平台不仅免费而且开源，我们的所有版本的均源码开放，同时我们会及时处理和反馈来自于各个渠道的意见和建议。</p>
<p>开发期间办公场地和宣传费用由南开大学微软俱乐部全力提供，服务器暂由团队负责，升级维护由团队成员和南微软共同支持，将会长久提供服务。</p>
<p>我们只想要更好的服务！</p>
 </div>   
 <br/>
<div class="text-success">
	 <h2>团队成员</h2>    
    <p>
    <span class='label label-success'>李旭昇(发起人)</span><br/>
    <span class='label label-success'><a href="mailto:newfutureATprint.nkumstc.cn" onclick="this.href=this.href.replace(/AT/,'&#64;')">NewFuture[刘未来]</a>(负责人，全栈)</span><br/>
    <span class='label label-success'>牛亮（数据库设计,安全检测，后端）</span><br/>
    <span class='label label-success'>梁崇军（数据库，插件）</span><br/>
    <span class='label label-success'>孙卓豪(后端，前端)</span><br/>
    <span class='label label-success'>王博（设备适配）</span><br/>
    <span class='label label-success'>杜晓唐（界面设计,前端）</span><br/>
    <span class='label label-success'>宋剑超(打印店客户端)</span><br/>
    <span class='label label-success'>刘安(测试，联系)</span><br/>
    <span class='label label-success'>王雨晴（测试，文案）</span><br/>
    <span class='label label-success'>赵泽坤（测试，维护）</span><br/>
    <span class='label label-success'>陈超(图形设计)</span><br/>
    <span class='label label-success'><a href="mailto:contactATprint.nkumstc.cn" onclick="this.href=this.href.replace(/AT/,'&#64;')">崔金锐</a></span>(运营推广)<br/>
    </p>
</div>
 <br/>
<div class="text-danger">
 <h2>项目最新进展及开源项目</h2>
 <p>GITHUB<a href="https://github.com/nkumstc/print">https://github.com/nkumstc/print</a></p> 
 <p>欢迎来此交流！</p>
</div>
<div class="text-danger">
 <h2>致谢</h2>
 <p>感谢<a>南开大学微软俱乐部</a>和<a>南开大学机器人所</a>提供的支持</p>
</div>

