<div class="text-info">
    <h2>云印南开简介</h2>
    <p>创建更方便，更安全的校园打印。当然这只是起步。<br/>始终相信：我们的南开会更好！</p>
    <p>云印南开坚持免费服务全校同学，不仅免费而且FREE（自由），我们同样开源（不用抄袭我们，想使用这套系统你可以直接复制，当然我们更希望你能贡献的力量）。</p>
    <p>起步阶段有南开大学微软技术俱乐部（NKUMSTC）提供全力支持。</p>
 </div>   
 <br/>
<div class="text-success">
	 <h2>团队成员</h2>    
    <p>
    <span class='label label-success'>李旭昇(发起人)</span><br/>
    <span class='label label-success'>NewFuture(设计和负责人)</span><br/>
    <span class='label label-success'>牛亮（数据库设计，后端）</span><br/>
    <span class='label label-success'>梁崇军（数据库，插件）</span><br/>
    <span class='label label-success'>孙卓豪(后端，前端)</span><br/>
    <span class='label label-success'>王博（适配）</span><br/>
    <span class='label label-success'>杜晓唐（前端）</span><br/>
    <span class='label label-success'>宋剑超(打印店客户端)</span><br/>
    <span class='label label-success'>刘安(测试，联系)</span><br/>
    <span class='label label-success'>王雨晴（测试，文案）</span><br/>
    <span class='label label-success'>赵泽坤（测试，维护）</span><br/>
    <span class='label label-success'>陈超(图形设计)</span><br/>
    </p>
</div>
 <br/>
<div class="text-danger">
 <h2>项目最新进展及开源项目</h2>
 <p>GITHUB<a href="https://github.com/nkumstc/print">https://github.com/nkumstc/print</a></p>    
</div>

