    <h2>云印项目简介</h2>
<div class="text-info well">
<p> 经过几年的大学生活我们体会到校园打印虽然便宜，但是真的不够方便。比如：普遍存在着优盘容易中毒；打印时间集中，需要等待；版式不会校对，需要打印店工作人员的协助；印量大了，等待时间较长等等一系列问题，导致打印起来体验并不好，云印南天希望通过自己来实现更好更舒适的打印体验。云印南天整个平台不仅免费而且开源，我们的所有版本的均源码开放，同时我们会及时处理和反馈来自于各个渠道的意见和建议。</p>
<p>我们只想要更好的服务！</p>
 </div>   

 <h2>团队成员</h2>  
<div class="text-success well">
    <p>
    <span>李旭昇（发起人）</span>nku@yunyin.org<br/>
    <span>NewFuture[刘未来]（负责人）</a>newfuture@yunyin.org</span><br/>
    <span>牛亮（法律，数据库，后端）</span>niuliang3@yunyin.org<br/>
    <span>梁崇军（数据库，插件）</span>icoconut@yunyin.org<br/>
    <span>孙卓豪(后端，前端)</span>605527108@yunyin.org<br/>
    <span>王博（设备适配，前端）</span>wb@yunyin.org<br/>
    <span>杜晓唐（界面设计，前端）</span>christina@yunyin.org<br/>
    <span>宋剑超（打印店客户端）</span>nkjc@yunyin.org<br/>
    <span>王雨晴（测试，文案）</span>iyutec@yunyin.org<br/>
    <span>陈超（图形设计）</span>media@yunyin.org<br/>
    <span>崔金锐</a>（运营推广）</span>contact@yunyin.org<br/>
    <span>何吉元（天大）</span>tju@yunyin.org<br/>
    <span>赵雅慧（天大）</span><br/>
    </p>
</div>

 <h2>项目最新状态</h2>
<div class="text-warning well">

 <p>GITHUB&nbsp;&nbsp;&nbsp;<a href="https://github.com/nkumstc/print" style="text-decoration: none">https://github.com/nkumstc/print</a></p> 
 <p>人人主页&nbsp;&nbsp;<a href="http://page.renren.com/602117408" style="text-decoration: none">云印南天-公共主页</a></p> 
 <p>微博账号&nbsp;&nbsp;<a href="http://weibo.com/cloudPrint" style="text-decoration: none">云印南天-新浪微博</a></p>
 <p>欢迎来此交流！</p>
</div>
 <h2>致谢</h2>
<div class="text-danger well">

 <p>感谢<a href="http://nkumstc.cn">南开大学微软俱乐部</a>，<a>天津大学微软俱乐部</a>和<a>南开大学机器人所</a>提供的支持</p>
</div>


