<style type="text/css">
.press {
font-size: 36px;
}
#page #main form #featured .style1 {
}
.file {
font-weight: bolder;
}
#page #main form #save {
}
</style>
<div class="title" >
    <h2>联系开发者</h2>
</div>
<div class="featured">
    <form action="feedback" method="post" id="contact" role="form">
        <div class="client_name">
            <p><input name="email" type="email" class="form-control" id="input_email" placeholder="邮箱">
            </p>
        </div>
        <div class="client_cont">
            <p><input name="phone" type="tel" class="form-control" id="input_tel" placeholder="手机号码">
            </p>
        </div>
        <div class="msg">
            <textarea name="message" cols="50" rows="10" class="form-control" id="input_message" placeholder="您想和我们说的话"></textarea>
            <button type="submit" class="btn btn-primary">确定提交</button>
            <button type="reset" class="btn btn-default float_r">重置</button>
        </div>
    </form>
</div>