<style type="text/css">
.press {
font-size: 36px;
}
#page #main form #featured .style1 {
}
.file {
font-weight: bolder;
}
#page #main form #save {
}
</style>
<div class="title" >
    <h2>联系我们</h2>
</div>
<div class="featured">
    <h3>你可以直接给我们发送邮件或者发送站内信</h3>
    <h3>错误或意见反馈邮箱：<a href="mailto:feedbackATprint.nkumstc.cn" onclick="this.href=this.href.replace(/AT/,'&#64;')">feedback@print.nkumstc.cn</a></h3>
    <h3>事务或合作联系邮箱：<a href="mailto:contactATprint.nkumstc.cn" onclick="this.href=this.href.replace(/AT/,'&#64;')">contact@print.nkumstc.cn</a></h3>
    <form action="feedback" method="post" id="contact" role="form">
        <div class="client_name">
            <p><input name="email" type="email" class="form-control" id="input_email" placeholder="邮箱">
            </p>
        </div>
        <div class="client_cont">
            <p><input name="phone" type="tel" class="form-control" id="input_tel" placeholder="手机号码">
            </p>
        </div>
        <div class="msg">
            <textarea name="message" cols="50" rows="10" class="form-control" id="input_message" placeholder="您想和我们说的话"></textarea>
            <button type="submit" class="btn btn-primary">确定提交</button>
            <button type="reset" class="btn btn-default float_r">重置</button>
        </div>
    </form>
</div>