<!DOCTYPE html>
{//用户基础模板}
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><block name="title">云印南开</block></title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen and (max-width: 1280px)" />
        <link href="__PUBLIC__/css/default.css" rel="stylesheet" type="text/css" media="all" />
        <link href="__PUBLIC__/css/modal.css" rel="stylesheet" type="text/css" media="all" />
        <link href="__PUBLIC__/css/form.css" rel="stylesheet" type="text/css" media="all" />
        <block name="head">{//头部添加}</block>
    </head>
    <body>
        <block name="header">{//顶部栏}
        <div id="header">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#navbar-collapse">
                    <!--<span class="sr-only">切换导航</span>-->
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="__PUBLIC__/images/logo.png" class="img-circle img-rounded" id="mylogo"></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="current_page_item"><a href="__ROOT__/Home/File/add.html" accesskey="1" title="">开始打印</a></li>
                        <li><a href="__ROOT__/Home/File/" accesskey="2" title="">文档记录</a></li>
                        <li><a href="__ROOT__/Home/User/" accesskey="3" title="">信息管理</a></li>
                        <li><a href="__ROOT__/Home/Index/about.html" accesskey="4" title="">关于云印</a></li>
                        <li><a href="__ROOT__/Home/Index/contact.html" accesskey="5" title="">联系我们</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        </block>
        <main id='main'>
        <block name="content">{//主要区域}</block>
        <block name="footer">{//页脚内容}
        <div id="copyright">
            <span>&copy;2014 云印服务. | ABOUT 云印南开. | Follow us<a href="#"></a></span>
            <span>.-欢迎您的使用-</span>
        </div>
        </block>
    </main>
    </body>
    <block name="end">{//尾部js等}</block>
</html>