<!DOCTYPE html>
{//打印店基础模板}
<html lang="zh-cmn-Hans">
    <head>
        <meta charset="UTF-8">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><block name="title">云印南开-beta</block></title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen and (max-width: 1280px)" />
        <link href="__PUBLIC__/css/default.css" rel="stylesheet" type="text/css" media="all" />
        <link href="__PUBLIC__/css/form.css" rel="stylesheet" type="text/css" media="all" />
        <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
        <block name="head">{//头部添加}</block>
    </head>
    <body>
        <block name="header">{//顶部栏}
        <include file="./Public/template/nav.html"/>
        </block>
        <block name='main'>
        <main id='main'>
            <block name="content">{//主要区域}</block>
            <block name="footer">{//页脚内容}
            <include file="./Public/template/footer.html"/>
            </block>
        </main>
        </block>
    </body>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js" defer="defer"></script>

    <block name="end">{//尾部js等}</block>
</html>
