<extend name="Print/Template/base.html"/>
<BLOCK name='title'>{$data.name}·云印南天Beta</BLOCK>
<BLOCK name="header">
    <nav class="navbar navbar-inverse navbar-fixed-top printerlist" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">切换导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="__PUBLIC__/images/logo.png" alt="logo" title="home" class="img-circle img-rounded" id="top-logo"></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <volist name="printerList" id="vo">
                <li><a href="/Printers/detail?id={$vo.id}" title="{$vo.name}">{$vo.name}</a></li>
                </volist>
                <li><a href="__URL__/">打印店们</a></li>
            </ul>
        </div>
    </nav>
</BLOCK>

<BLOCK name='content'>
<div class="title">
    <h2>{$data.name}</h2> 
</div>
<div class="container">
<div class="row">
    <div class="col-sm-4">
    <table class="table">
<tr>
    <th style="width:45%">所在学校</th>
    <td align="right">{$data['school']}</td>
</tr>
<tr>
    <th>手机</th>
    <td align="right">{$data.phone}</td>
</tr>
<tr>
    <th>QQ</th>
    <td align="right">{$data.qq}</td>
</tr>
<tr>
    <th>地址</th>
    <td align="right">{$data.address}</td>
</tr>
<tr>
    <th>营业时间</th>
    <td align="right">{$data.open_time}</td>
</tr>
<tr>
    <th>单面黑白</th>
    <td id="p_s" align="right">{$price["p_s"]}元每张</td>
</tr>
<tr>
    <th>双面黑白</th>
    <td id="p_d" align="right">{$price["p_d"]}元每张</td>
</tr>
<tr>
    <th>单面彩印</th>
    <td id="p_c_s" align="right">{$price["p_c_s"]}元每张</td>
</tr>
<tr>
    <th>双面彩印</th>
    <td id="p_c_d" align="right">{$price["p_c_d"]}元每张</td>
</tr>
<tr>
    <th>优惠信息</th>
    <td align="right">{$data.price_more}</td>
</tr>
    </table>
</div>
<div class="col-sm-4 col-sm-offset-1">
    <div class="thumbnail">
        <empty name="data.imageURL">
            <img src="__PUBLIC__/images/logo.png" style="width:70%"/>
        <else />
            <img src="{$data['imageURL']}" style="width:70%"/>
        </empty>
    </div>
    <label>简介</label>
    <p>{$data.profile}</p>
</div>
</div>
</div>
</BLOCK>
