
<!DOCTYPE html>

<html lang="zh-cmn-Hans">
    <head>
        <meta charset="UTF-8">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>云印南开-Beta</title>
        <meta name="keywords" content="云印南开打印店" />
        <meta name="description" content="云印南开打印店登录" />
        <link href="__CDNLIB__/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="__PUBLIC__/css/default.css" rel="stylesheet" type="text/css" media="all"/>
        <script src="__CDNLIB__/jquery/2.1.1/jquery.min.js"></script>

    </head>
    <body>
        
<nav class="navbar navbar-inverse navbar-fixed-top printerlist" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target="#navbar-collapse">
            <!--<span class="sr-only">切换导航</span>-->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="__PUBLIC__/images/logo.png" class="img-circle img-rounded" id="mylogo"></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="" accesskey="1" title=""></a></li>
            </ul>
        </div>
    </nav>

<main id='main'>

<div class="title">
    <h2>{$data.name}</h2> 
</div>

<div class="container">

<div class="row">

    <div class="col-sm-4">
        
    <table class="table">
<tr>
    <th style="width:45%">所在学校</th>
    <td class="School" align="right"></td>
</tr>
<tr>
    <th>手机</th>
    <td align="right">{$data.phone}</td>
</tr>
<tr>
    <th>QQ</th>
    <td align="right">{$data.qq}</td>
</tr>
<tr>
    <th>地址</th>
    <td align="right">{$data.address}</td>
</tr>
<tr>
    <th>营业时间</th>
    <td align="right">{$data.open_time}</td>
</tr>
<tr>
    <th>单面黑白</th>
    <td id="p_s" align="right">{$data.p_s}分每张</td>
</tr>
<tr>
    <th>双面黑白</th>
    <td id="p_d" align="right">{$data.p_d}分每张</td>
</tr>
<tr>
    <th>单面彩印</th>
    <td id="p_c_s" align="right">{$data.p_c_s}角每张</td>
</tr>
<tr>
    <th>双面彩印</th>
    <td id="p_c_d" align="right">{$data.p_c_d}角每张</td>
</tr>
<tr>
    <th>优惠信息</th>
    <td align="right">{$data.price_more}</td>
</tr>
    </table>

</div>

<div class="col-sm-4 col-sm-offset-1">
    <div class="thumbnail">
        <empty name="data.imageURL">
            <img src="__PUBLIC__/images/logo.png" style="width:70%"/>
        <else />
            <img src="{$data['imageURL']}" style="width:70%"/>
        </empty>
    </div>
    <label>简介</label>
    <p>{$data.profile}</p>
</div>

</div>
</div>
<footer>
    <ul>
        <li><a href="http://www.yunyin.org/">&copy;2014-2015云印南天</a></li>
        <li><a href="https://github.com/nkumstc/print">云印开源项目</a></li>
        <li><a href="mailto:feedback@yunyin.org">反馈feedback</a></li>
        <li><a href="mailto:contact@yunyin.org">联系我们contact</a></li>
        <li><a href="mailto:join@yunyin.org">加入团队join</a></li>
    </ul>
</footer>
</main>
</body>
<script src="__CDNLIB__/bootstrap/3.3.0/js/bootstrap.min.js" defer="defer"></script>

<script>

if({$data.sch_id} === 1)
    $('.School').append('南开大学');
else
    $('.School').append('天津大学');

if ({$data['price']}) {
            var price = {$data['price']}; //JSON.parse({$data['price']});
                $('#p_c_s').html(price.p_c_s+'角/张');
                $('#p_c_d').html(price.p_c_d+'角/张');
                $('#p_s').html(price.p_s+'分/张');
                $('#p_d').html(price.p_d+'分/张');
            } else {
                $('#p_c_s').html("未设置");
                $('#p_c_d').html("未设置");
                $('#p_s').html("未设置");
                $('#p_d').html("未设置");
            }



</script>

</html>
