{//打印店列表页}
<extend name="Public/template/base.html"/>
<block name='head'></block>
<block name='header'>
<include file="./Public/template/nav.html" printers="active"/>
</block>
<block name='content'>
<div class="title">
	<h2>打印店列表</h2>
</div>
<br/>
<div class="container" id="printersMain">

<div class="row">

<div class="col-lg-10 col-md-10">
<volist name="data" id="vo">
<div class="col-lg-offset-1 col-lg-3 col-xs-offset-1 col-sm-3 col-xs-10 thumbnail text-center printersBlock">
	<div class="bg-info">
	<br/>
	<h2><a href="__ROOT__/Printers/detail.html">{$vo.name}</a></h2>
	<br/>
	</div>
	<div>
	<h4 class="School">{$vo.school}</h4>
	<hr/>
	<p style="font-size:13px">{$vo.address}</p>
	</div>
</div>
</volist>


</div>
</div>
</div>
</block>

<block name='end'>

</block>
