{//打印店列表页}
<EXTEND name="Print/Template/base.html"/>
<BLOCK name='header'>
<include file="Print/Template/nav.html" printers="active"/>
</BLOCK>
<BLOCK name='content'>
<div>
	<h2>打印店列表</h2>
</div>
<br/>
<div class="container" id="printersMain">

<div class="row">

<div class="col-lg-10 col-md-10">
<volist name="data" id="vo">
<div class="col-lg-offset-1 col-lg-3 col-xs-offset-1 col-sm-3 col-xs-10 thumbnail printersBLOCK">
	<div class="bg-info text-center">
	<br/>
	<h2><a href="__ROOT__/Printers/detail?id={$vo.id}">{$vo.name}</a></h2>
	<br/>
	</div>
	<div class="text-center">
	<h4>{$vo.school}</h4>
	<hr/>
	<p class="comments">{$vo.address}</p>
	</div>
</div>
</volist>


</div>
</div>
</div>
</BLOCK>

<BLOCK name='end'></BLOCK>
