{//打印管理界面}
<extend name="Public/template/printerbase.html"/>
<block name='title'>{$title}</block>
<block name='header'>
<include file="./Public/template/printernav.html" list="active"/>
</block>
<block name='content'>
<div class="title" >
    <h2>{$title}</h2>
</div>
<div class="container">
    <div class="row"><div class="col-lg-10">
    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>文件</th>
                <th>份数</th>
                <th>单双</th>
                <th>单双</th>
                <th>PPT格式</th>
                <th>上传者</th>
                <th>上传时间</th>               
            </tr>
        </thead>
        <tbody id="tablehead">
            <volist name="data" id="vo">
            <tr file_id="{$vo.id}">
                    <td>[{$vo.id}]{$vo.name}</td>
    <if condition="$vo.copies eq 0">
             <td>现打</td><td>-</td><td>-</td><td>-</td>   
      <else/>
            <td> {$vo.copies}</td><td>
                <if condition="$vo.double_side gt 0">
                双面
                <else/>
                单面
                </if>
                </td>
                <td>
                <if condition="$vo.color gt 0"> 彩印<else/>黑白</if>
                </td>
                <td>
                    {$vo.ppt_layout}
                </td>
            </if>
                <td>{$vo.use_name}[{$vo.student_number}]</td>
                 <td>{$vo.time}</td>               
            </tr>
            </volist>
        </tbody>
    </table>
    <div class="result page">{$page}</div>
    </div>
    </div></div>
</div>
</block>
