{//打印管理界面}
<extend name="Public/template/printerbase.html"/>
<block name='title'>{$title}</block>
<block name='header'>
<IF condition='$history'>
<include file="./Public/template/printernav.html" list="current_page_item"/>
<ELSE/>
<include file="./Public/template/printernav.html" manage="current_page_item"/>
</IF>
</block>
<block name='content'>
<div class="title" >
    <h2>{$title}</h2>
</div>
<div class="files_record">
    <table width="617" border="0" align="center">
        <tr>
            <td width="310" align="center">待打印文件</td>
            <td width="297" align="center">File URL</td>
            <td width="297" align="center">Upload Time</td>
            <td width="297" align="center">文件打印状态</td>
        </tr>
        <volist name="data" id="vo">
        <tr>
            <td>{$vo.name}</td><td>{$vo.url}</td><td>{$vo.time}</td><td>{$vo.status}</td>
        </tr>
        <if condition="$history">
        <else />
        <tr>
            <td><a href="__URL__/set/fid/{$vo.id}/status/4">Downloaded</a></td><td><a href="__URL__/set/fid/{$vo.id}/status/5">Printed</a></td><td><a href="__URL__/set/fid/{$vo.id}/status/6">Paid</a></td>
        </tr>
        </if>
        </volist>
    </table>
</div>
</block>