{//打印管理界面}
<extend name="Public/template/printerbase.html"/>
<block name='title'>{$title}</block>
<block name='header'>
<IF condition='$history'>
<include file="./Public/template/printernav.html" list="current_page_item"/>
<ELSE/>
<include file="./Public/template/printernav.html" manage="current_page_item"/>
</IF>
</block>
<block name='content'>
<div class="title" >
    <h2>{$title}</h2>
</div>
<div class="files_record">
    <table width="746" height="53" border="0" class="table-responsive">
       <thead> 
	<tr>
            <th width="153" align="center">待打印文件</th>
            <th width="175" align="center">上传者</th>
            <th width="124" align="center">上传时间</th>
            <th width="276" align="center">文件打印状态</td>
        </tr>
	</thead>
        <tbody>
	    <volist name="data" id="vo">
        <tr>
            <td><a id="{$vo.id}_1" href="__UPLOAD__/{$vo.url}">{$vo.name}</a></td>
            <td>{$vo.use_name}</td>
            <td>{$vo.time}</td>
            <td id="{$vo.id}_status">{$vo.status}</td>
        <if condition="$history">
        <else />
            <td>
                <button type="button" id="{$vo.id}_button" class="btn btn-success" autocomplete="off">Download</button>
            </td>
            <script>
                var file_{$vo.id}_status = {$vo.status};
                $("#{$vo.id}_button").on('click',function(){
                    var request = "__URL__/set/fid/{$vo.id}/status/"+ file_{$vo.id}_status.toString();
                    $.ajax({
                        url: request
                    }).done(function(msg){
                        $("#{$vo.id}_status").html(msg.response);
                        if(msg.response==4)
                        {
                            $("#{$vo.id}_button").html('Paid').removeClass("btn btn-primary").addClass("btn btn-warning");
                        }
                        else if(msg.response==5)
                        {
                            $("#{$vo.id}_button").attr("disabled","disabled");
                        }
                        else if(msg.response==2)
                        {
                            $("#{$vo.id}_button").html('Printed').removeClass("btn btn-success").addClass("btn btn-primary");
                            window.open("__UPLOAD__/{$vo.url}");
                        }
                        file_{$vo.id}_status = msg.response;
                    }).fail(function(){
                        alert("Request failed");
                    });
                });
            </script>
        </if>
        </tr>
        </volist>
        </tbody>
    </table>
</div>
</block>
