{//分享页}
<EXTEND name="Print/Template/base.html"/>
<BLOCK name="title">
云印文件共享.公测版—{$book['name']}
</BLOCK>
<BLOCK name="addhead">{//头部添加}
<PRESENT name="printer">
         <link href="__PUBLIC__/css/default.css" rel="stylesheet" type="text/css"/>
         <link href="__PUBLIC__/css/upload.css" rel="stylesheet" type="text/css"/>
</PRESENT>
</BLOCK>
<BLOCK name='header'>
<PRESENT name="printer">
    <INCLUDE file="Print/Template/nav.html" books="active"/>
</PRESENT>
</BLOCK>
<BLOCK name='content'>
<div class="container-fluid">
    <div class="text-center"><h1>{$book['name']}</h1></div>
    <div class="text-center"><a href="__CONTROLLER__/">查看更多资料</a></div>
    <hr/>
    <div class="well row text-center col-sm-offset-1 col-sm-10  text-success">
        <table class="table-responsive table">
        <tr><h5 class="lead text-center">资源详情</h5></tr>
        <tr class="text-center"><th>说明：</th><td>{$book['detail']|default='暂无说明(请咨询打印店)'}</td></tr>
        <tr class="text-center"><th>价格：</th><td>{$book['price']|default='可议'}</td></tr>
        <tr class="text-center text-danger"><th>配送：</th><td>{$book['send']|default='联系店家询问(qq,或者电话)'}</td></tr>
    </table>
</div>
<div class="well row text-center col-sm-offset-1 col-sm-10">
    <NOTPRESENT name="printer">
    <h5 class="text-center">
    <a href="/?r=__SELF__">请登陆后查看打印店信息</a>
    </h5>
    <ELSE/>
    <h5 class="lead">由<a href="/Printers/detail/id/{$printer['id']}">{$printer['name']}</a>打印店提供</h5>
    <p>
    <div>
        <span> 电话: </span>
        <span class="strong"><a href="tel:{$printer['phone']}">{$printer['phone']}</a></span>
        <span> QQ: </span>
        <span class="strong"><a href="tencent://message/?uin={$printer['qq']}&Site=yunyin.org&Menu=yes">{$printer['qq']}</a></span>
        <span> 邮箱: </span>
        <span class="strong"><a href="mailto:$printer['email']">{$printer['email']|default="无"}</a></span>
    </div>
    <div>
        <span>其他说明:</span>
        <span class="strong text-center">{$printer['more']|default='联系商议'}</span>
    </div>
    <div>
        <span >打印店地址：</span>
        <span class="strong text-center">{$printer['address']|default=$printer['name']}</span>
    </div>
    </p>
    <hr/>
    <p class="row text-center small"><span >由<a href="__ROOT__/Printers/detail/id/{$printer['id']}">{$printer['name']}</a>发布于</span><span> ：{$book['time']}</span> | <small>责任和资源归打印店所有</small></p>
    </NOTPRESENT>
</div>
<div class="row"></div>
<div class="row text-center">
    <button class="btn btn-success btn-lg" id="goto-print">立即打印这份资料</button>
</div>
<hr/>
<p class="row text-center">打印店资源只能由发布资源打印店打印</p>
<p class="row text-center"><small>资源信息由打印店发布,平台不保存也不提供这些文件,侵权投诉report@yunyin.org</small></p>
<div class="text-center"><small>打印店资源服务目前处于局部公测阶段，任何问题通过下面方式联系我们！</small></div>
</div>
<hr/>
<div class="modal fade" id="print-modal" tabindex="-1" role="dialog" aria-tagledby="ModalTag" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-tag="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="ModalTag">快速打印设置</h4>
        </div>
        <NOTPRESENT name="printer">
        <div class="modal-body text-center">
            <a href="/?r=__SELF__" class="btn btn-lg btn-danger ">请登陆后使用</a>
        </div>
        <ELSE/>
        <form id="print" method="post" action="__CONTROLLER__/prints/id/{$book['id']}">
            <div class="modal-body text-center">
                <div class="col-xs-8 col-xs-offset-2">
                    <span class="input-group">
                    <label for="copies" class="input-group-addon">份数:</label>
                    <input name="copies" type="number" placeholder="份数" class="form-control" id="copies" min="1" value="1"/>
                    <span class="input-group-addon">份</span>
                    </span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-8 col-xs-offset-2">
                    <label for="addtion-need" class='sr-only'>备注</label>
                    <textarea id="addtion-need" class="form-control" placeholder="备注，特殊要求或者配送地址，限制64字以内," length="64" name="requirements"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <a type="button" role="button" class="btn btn-default" data-dismiss="modal">取消</a>
                <button type="submit" id="print-btn" class="btn btn-primary">打印</button>
            </div>
        </form>
        </NOTPRESENT>
    </div>
</div>
</div>
</BLOCK>
<BLOCK name='end'>
<script>
$(function(){
    $('#goto-print').click(function(){
            $('#print-modal').modal('show');
    });
});
</script>
</BLOCK>