<script src="http://cdn.bootcss.com/jquery/2.0.0/jquery.js" type="text/javascript"></script>
    <table class="table">
        <thead>
            <tr>
            <th>文件状态</th>
                <th>文件名</th>    
                <th>上传时间</th>
                <th>所选打印店</th>                
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <volist name="list" id="vo">
            <tr>
              
                <td id="{$vo.id}_status" data='{$vo.status}'>
                    <switch name="vo['status']">
                    <case value="1">已上传</case>
                    <case value="2">已下载</case>
                    <case value="3">打印中</case>
                    <case value="4">已打印</case>
                    <case value="5">已支付</case>
                    <case value="0">已删除</case>
                    <default />未知状态
                    </switch>
                </td>
                <td><a target='_blank' class="set" fid='{$vo.id}' href="__UPLOAD__/{$vo.url}">[{$vo.id}]{$vo.name}</a></td>
                <td>{$vo.time}</td>
                <td>{$vo.pri_name}[{$vo.pri_id}]</td>
                <td>
                <if condition="($vo.status gt 1)AND($vo.status lt 5)">
                    <button type="button" fid="{$vo.id}" class="btn btn-danger" disabled="disabled">删除</button>
                <else />
                    <button type="button" fid="{$vo.id}" class="delete btn btn-danger">删除</button>
                </if>
                </td>
                <td>
                    <switch name="vo['status']">
                    <case value="1"><button type="button" id="{$vo.id}_button" fid='{$vo.id}' class="set btn btn-primary">通知已下载</button></case>
                    <case value="2" break="0"></case>
                    <case value="3"><button type="button" id="{$vo.id}_button" fid='{$vo.id}' class="set btn btn-success">通知已打印</button></case>
                    <case value="4"><button type="button" id="{$vo.id}_button" fid='{$vo.id}' class="set btn btn-warning">确认已付款</button></case>
                    <default />不可操作
                    </switch> 
                </td>
            </tr>
            </volist>
        </tbody>
    </table>
<div class="result page">{$page}</div>
<script>

$("table").on('click', '.set', function(event) {
    event.preventDefault();
    var URL = "/Home/Test/download";
    var btn = $(this);
    var fid = btn.attr('fid');
    var status = $('#' + fid + '_status');
    var sid = status.attr('data');
    console.log(sid);
    var set_s = 0;
    if (sid == 1) {
        set_s = 2;
    } else if (sid <= 3 && sid >= 2) {
        set_s = 4;
    } else if (sid == 4) {
        set_s = 5;
    }
    $.post(URL, {
        fid: fid,
        status: set_s
    }, function(data) {
        window.open(data, "_blank") 
    });
});

$("table").on('click', '.delete', function() {
    var URL = "/Home/Test/delete";
    var btn = $(this);
    var fid = btn.attr('fid');
    var status = $('#' + fid + '_status');
    var sid = status.attr('data');
    $.get(URL, {
        fid: fid,
        status: sid
    }, function(data) {
        alert(data);
    });
});
</script>
