<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <title>云印南开-打印店入口</title>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/login.css">
    </head>
    <body>
        <div id="carbonForm" style="margin-top: 107.5px; font-size: 20px;">
            <h1>打印店登录</h1>
            <form action="__ROOT__/Printer/Printer/auth" method="post" id="signupForm">
                <div class="fieldContainer">
                    <div class="formRow">
                        <div class="label">
                            <label for="name">账号:</label>
                        </div>
                        <div class="field">
                            <input type="text" name="account" id="name" required>
                        </div>
                    </div>
                    <div class="formRow">
                        <div class="label">
                            <label for="password">密码:</label>
                        </div>
                        <div class="field">
                            <input type="password" name="password" id="password" required>
                        </div>
                    </div>
                </div>
                <div class="signupButton">
                    <input type="submit" name="submit" id="submit" value="登陆">
                </div>
            </form>
        </div>
    </body>
</html>