<EXTEND name="Print/Template/printerbase.html"/>
<BLOCK name='title'>云印南天-打印店入口</BLOCK>
<BLOCK name='head'>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/login.css">
</BLOCK>
<BLOCK name='header'></BLOCK>
<BLOCK name='content'>
        <div id="carbonForm">
            <h1>打印店登录</h1>
            <form action="__MODULE__/Printer/auth" method="post" id="signupForm">
                <div class="fieldContainer">
                    <div class="formRow">
                        <div class="label">
                            <label for="name">账号:</label>
                        </div>
                        <div class="field">
                            <input type="text" name="account" id="name" required>
                        </div>
                    </div>
                    <div class="formRow">
                        <div class="label">
                            <label for="password">密码:</label>
                        </div>
                        <div class="field">
                            <input type="password" name="password" id="password" required>
                        </div>
                    </div>
                </div>
                <div class="signupButton">
                    <button type="submit" id="submit">登陆</button>
                </div>
                 <a rel="nofollow" href="__MODULE__/Printer/forget">忘记密码？</a>
            </form>
        </div>
</BLOCK>