{//文件上传页}
<extend name="Public/template/base.html"/>
<block name='head'>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/modal.css">
</block>
<block name='header'>
<include file="./Public/template/nav.html" add="active"/>
</block>
<block name='content'>
<div class="title">
    <h2>设置打印信息</h2>
</div>
<div id="featured" class="container">
        <div class="row" style="display:none;" id="helpBlock"> 
    <div class="col-lg-8">
        <p class="text-info well">
        使用流程：<code>上传文件</code> -> <code>选择打印店</code> -> <code>设置打印份数、格式</code> -> <code>文件记录页查看状态</code> -><code> 取货</code>；<br/>
        暂时仅支持<code>pdf</code>、<code>doc(x)</code>、<code>wps</code>、<code>ppt(x)</code>格式的文件上传；<br/>
        如上传文件名出现<code>乱码</code>，请更换浏览器。Chrome下效果最佳，手机建议使用UC浏览器；<br/>
        打印纸张统一为<code>A4</code>，<code>彩印</code>暂不支持<code>双面</code>，有特殊需求可上传后到店打印；<br/>无论打印店队列多长，到店可直接取货。若打印店没有提前打印，你可以在店直接打印；<br/>
        对于提前打印的文件请于打印完成后<code>24小时</code>内取走；对于所有情况的打印请于<code>2天内</code>完成；<br/>
        当前提供价格仅供参考，所有打印店均可在<code>量大时减价</code>；</p>
    </div>
    </div>
    <br/>
    <form id="print" method="post" action="__URL__/uploadOne" enctype="multipart/form-data">
        <div class="row">
            <div class="text-center col-lg-5">
                <div class="form-group">
                    <div class="upload-btn">
                        <div class="upload-area"><span class="glyphicon glyphicon-open"></span>点击上传文件<small>(不超过10MB)</small></div>
                        <input id="upload-file" type="file" name="file" accept="application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/pdf, application/vnd.ms-powerpoint, application/vnd.openxmlformats-officedocument.presentationml.presentation,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" onchange="checkSuffix(this)">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <ul id="upload-list" class="list-group" style="margin-bottom:0px;margin-top:10px"></ul>
            </div>
        <div class="col-lg-3">
            <fieldset id='setting1'>
                <div style="display:none;margin-top:10px;margin-bottom:0px" id="pptprint">
                    <select class="form-control" name="ppt_layout">
                        <option value="">PPT打印格式</option>
                        <option value="1">1x1</option>
                        <option value="2">1x2</option>
                        <option value="3">2x2</option>
                        <option value="4">2x3</option>
                    </select>
                </div>
            </fieldset>
        </div>
        </div>
        <br/>
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <select class="form-control" name="pri_id" onchange="priceChange(this)">
                    <option value="1">天达印务[9：00——22：00](西门附近，22宿下)</option>
                    <option value="2">光辉岁月[8：00——23：00](二食堂浴园旁)</option>
                    <option value="3">精诚快印[8：30——20：30](新图和数码小院之间)</option>
                    <option value="4">快捷复印[8：00——22：00](南开出版社后)</option>
                </select>
            </div>
            <div id='price' class='well help-block' style="font-size:13px">单面：<span id='single' class='text-danger'>少量1角每张，过百份7分每张</span><br/>双面：<span id='double' class='text-danger'>1角每张</span><br/>彩印：<span id='color_print' class='text-danger'></span></div>
        </div>
        <fieldset id="setting2">
            <div class="col-lg-4">
                <div class="form-group">
                    <input name="copies" type="number" id="copies" min="0" value="0" style="width:15%" /><strong>份</strong>
                    <small style="font-size:13px;color:#AAAAAA">0表示到店后现场打印</small>
                </div>
                <div class="checkbox">
                    <label for="printcolor">
                        <input name="color" id="printcolor" value="1" type="checkbox"><strong>彩印</strong>
                    </label>
                    <label for="double_side">
                        <input name="double_side" id='double_side' value="1" type="checkbox"><strong>双面打印</strong>
                    </label>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="row">
        <div class="text-center col-lg-5">
            <button type="submit" class="flatbtn" id="modaltrigger">开始传送</button>
        </div>
    </div>
</form>
</div>
</block>
<block name='end'>
<script language="javascript" type="text/javascript">
function checkSuffix(n) {
    var pos = n.value.lastIndexOf('.');
    var suffix = n.value.substring(pos + 1);
    var doc_suffix = ['doc', 'docx', 'wps'];
    var pdf_suffix = ['pdf'];
    var other_suffix = ['ppt', 'pptx'];
    if (doc_suffix.indexOf(suffix) >= 0) {
        alert('打印小常识：将文档转成PDF格式，打印出来的格式基本不会发生变化！（任性就随意了(^▽^)）')
        $('#setting2').show();
        $('#pptprint').hide();
        $('#copies').attr('disabled', false);
        $('#double_side').attr('disabled', false);
        $("#modaltrigger").attr('disabled', false).attr('class' , 'flatbtn-blu');
        var fname = n.value.substring(n.value.lastIndexOf('\\')+1);
        $("#upload-list").html('<li style="font-size: 13px;" class="list-group-item">当前文件：'+ fname +'</li>'+'<li style="font-size: 13px;" class="list-group-item">支持的格式，但更推荐pdf。');
    } else if (other_suffix.indexOf(suffix)>=0) {
        $('#pptprint').show();
        $('#setting2').show();
        $('#copies').attr('disabled', false);
        $('#double_side').attr('disabled', false);
        $("#modaltrigger").attr('disabled', false).attr('class', 'flatbtn-blu');
        var fname = n.value.substring(n.value.lastIndexOf('\\')+1);
        $("#upload-list").html('<li style="font-size: 13px;" class="list-group-item">当前文件：'+fname +'</li>');
    } else if(pdf_suffix.indexOf(suffix) >= 0){
        $('#pptprint').hide();
        $('#setting2').show();
        $('#copies').attr('disabled', false);
        $('#double_side').attr('disabled', false);
            $("#modaltrigger").attr('disabled', false).attr('class', 'flatbtn-blu');
        var fname = n.value.substring(n.value.lastIndexOf('\\')+1);
        $("#upload-list").html('<li style="font-size: 13px;" class="list-group-item" style="border-style:none">当前文件：'+fname +'</li>');
    } else {
        $("#upload-list").html('<li style="font-size: 13px;" class="list-group-item">不支持'+ suffix + '格式文件。</li>');
        $("#modaltrigger").attr('disabled', true).attr('class', 'flatbtn');
    }
}
function priceChange(n){
    var i = n.value;
    var thePrice = [ [], ['1角每张','0.14元每张（7分每面）','尚未确定'],['少量1角每张，过百份7分每张','1角每张','尚未确定'],['少量1角每张，过百份8分每张','1角每张','尚未确定'],['少量1角每张，过百份8分每张','1角每张','尚未确定']
        ];
    $('#single').html(thePrice[i][0]);
    $('#double').html(thePrice[i][1]);
    $('#color_print').html(thePrice[i][2]);
}
$("#modaltrigger").on('submit', function() {
    $("#modaltrigger").attr('disabled', true);
    if (!$("#print").submit()) {
        $("#modaltrigger").attr('disabled',false);
    }
}).attr('disabled',true);

$("#helpView").click(function(){
    $('#helpView').toggleClass('btn-warning')
    $('#helpBlock').toggle(100);
});
</script>
</block>
