{//文件管理页}
<EXTEND name="Print/Template/base.html"/>
<BLOCK name='header'>
<INCLUDE file="Print/Template/nav.html" list="active"/>
</BLOCK>
<BLOCK name='content'>
<div class="container-fluid">
<div>
    <h2>文档记录 <a class="btn btn-default btn-success" href="__ROOT__/File/multi">上传文件</a></h2>
</div>
<p class='small center-block alert alert-warning'>文件只有<strong>在打印店下载之前，或者确认付款之后</strong>才<strong>允许删除</strong></p>
    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>文件状态</th>
                <th>文件名</th>    
                <th>上传时间</th>
                <th>所选打印店</th>
                <th>份数</th>
                <th>单双</th>
                <th>彩印</th>
                <th>PPT格式</th>                
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <volist name="data" id="vo">
            <tr>          
                <td id="{$vo.id}_status">
                    <switch name="vo['status']">
                    <case value="1">已上传</case>
                    <case value="2">已下载</case>
                    <case value="3">打印中</case>
                    <case value="4">已打印</case>
                    <case value="5">已支付</case>
                    <case value="0">已删除</case>
                    <default />未知状态
                    </switch>
                </td>
                <td style="width:20%">[{$vo.id}]{$vo.name}
                    <IF condition="$vo.pdf eq 1">
                    <a style="text-decoration :none;"><span class="glyphicon glyphicon-share share" data-toggle="modal" data-target="#share" data-fid="{$vo.id}" ></span></a>
                    <!--button type="button" class="glyphicon glyphicon-share share" data-toggle="modal" data-target="#share" data-fid="{$vo.id}"></button-->
                    </IF>
                </td>
                <td>{$vo.time}</td>
                <td>{$vo.pri_name}[{$vo.pri_id}]</td>
            <IF condition="$vo.copies eq 0">
            <td>现打</td><td>-</td><td>-</td><td>-</td>    
            <ELSE/>
            <td> {$vo.copies}</td><td>
                <IF condition="$vo.double_side gt 0">
                双面
                <ELSE/>
                单面
                </IF>
                </td>
                <td>
                <IF condition="$vo.color gt 0"> 彩印 <ELSE/> 黑白 </IF>
                </td>
                <td>
                    {$vo.ppt_layout}
                </td>
            </IF>
       
                <td>
                <IF condition="($vo.status gt 1)AND($vo.status lt 5)">
                    <button type="button" fid="{$vo.id}"class="btn btn-danger" disabled="disabled">删除</button>
                <ELSE />
                    <button type="button" fid="{$vo.id}"class="delete btn btn-danger">删除</button>
                </IF>
                </td>
            </tr>
            </volist>
        </tbody>
    </table>
    <div class="result page">{$page}</div>
    </div>

</div>
<div class="modal fade" id="share" tabindex="-1" role="dialog" aria-tagledby="myModalTag" aria-hidden="true">
      <div class="modal-dialog">    
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-tag="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalTag"></h4>
              </div>
              <div class="modal-body">   
                      <div class="form-group">
                          <label for="filename-input" class="control-tag">共享名称:</label>
                          <input type="text" placeholder="设置共享的名字" class="form-control" id="filename-input">
                     </div>
                     <div class="form-group" id="chosen-tag">
                     </div>
                      <div class="form-group">
                          <label for="tag-input" class="control-tag">添加标签:</label>
                            <input type="text" id="tag-input" list="tag-list"  placeholder="输入标签" onkeyup="getTag()" onkeydown="addTag()"> 
                            <datalist id="tag-list"></datalist>
                      </div>
                      <div class="checkbox">
                          <label>
                              <input type="checkbox" id="display-name">匿名分享
                          </label>
                      </div>
              </div>                       
              <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" id="share-btn" class="btn btn-primary">共享</button>     
                </div>
            </div>
        </div>    
    </div>
</BLOCK>
<BLOCK name='end'>
<script>
        $(".delete").on('click',function(){
            if(confirm("确认删除?删除后无法找回"))
            {
            var URL = "__ROOT__/File/delete";
            var btn=$(this).attr('disabled','true').html('正在删除');
            var fid=btn.attr('fid');
            $.post(URL,{
                fid:fid,
            },function(data){
                if(data.status)
                {
                    btn.parent().parent().hide(1000);
                }else{
                    btn.attr('disabled','false').html('删除');
                    alert('操作失败：'+data.info);
                }
            });
            }
        });

var tag_data = new Array();
var tag_arr = new Array();
var share_fid = -1;

$('#share').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        share_fid = button.data('fid');
        var filename = button.parent().text().trim();
        var modal = $(this);
        modal.find('.modal-title').text('分享');
        $('#filename-input').val(filename);
        $('#chosen-tag').html('');
        tag_arr = null;
        tag_arr = new Array();
})

function checkInput(input)
{
    return input;
}

function getTag()
{
    if(event.KeyCode==13) return;
    var datalist = $('#tag-list');
    datalist.html('');
    var input = $('#tag-input');
    var URL = "__ROOT__/Share/getTags";
    $.post(URL,{
        tag: checkInput(input.val())
    },function(data){
        if(data.status)
        {
            for(var i=0;info = data.info[i];i++)
            {
                tag_data.push(info);
                datalist.append('<option id="'+info.id+'" value="'+info.name+'"></option>'); 
            }
        }
    });
}


function addTag()
{
    if(event.keyCode!=13) return;
    var input = document.getElementById('tag-input');
    var input_val = checkInput(input.value);
    if(input_val=='') return;
    var tag_id=-1;
    for(var i=0;tag=tag_data[i];i++)
    {
        if(tag.name==input_val)
        {
            tag_id=tag.id;
            break;
        }
    }
    if(tag_id==-1)
    {
        var URL = "__ROOT__/File/addTag";
        $.post(URL,{
            tag: input_val
        },function(data){
            if(data.status){
            tag_id = data.info;
            }else{
                alert('fail to add tag');
            }
        });
    }
    if(tag_id!=-1)
    {
        var i=0;
        for(;i<tag_arr.length;i++)
        {
            if(tag_arr[i]!==undefined&&tag_arr[i]==tag_id)
            {
                alert('already there');
                input.value='';
                break;
            }
        }
        if(i==tag_arr.length)
        {
            tag_arr.push(tag_id);
            var chosen_tag = $('#chosen-tag');
            chosen_tag.append('<span id="'+tag_id+'" class="tag tag-primary" onclick="deleteTag(this)">'+input.value+'</span>');
            input.value='';
        }
    }
}

$("#share-btn").on('click',function(){
    var URL = "__ROOT__/File/share";
    var input = $('#tag-input');
    var input_val = checkInput(input.value);
    var display_name = document.getElementById('display-name');
    if(share_fid==-1) return;
    $.post(URL,{
        fid:share_fid,
        tag:tag_arr,
        display_name: display_name.checked
    },function(data){
        if(data.status)
        {
            $('#share').modal('hide');
        }else{
            alert('操作失败：'+data.info);
        }
    });
});


function deleteTag(e){
    var tag_id = e.getAttribute('id');
    for(var i=0 ;i<tag_arr.length;i++)
    {
        if(tag_arr[i]==parseInt(tag_id))
        {
            e.remove();
            tag_arr[i]=undefined;
            break;
        }
    }
}


</script>
</BLOCK>
