{//文件管理页}
<extend name="Public/template/base.html"/>
<block name='header'>
<include file="./Public/template/nav.html" list="active"/>
</block>
<block name='content'>
<div class="title" >
    <h2>文档记录 <a class="btn btn-lg btn-success" href="/File/add">上传文件</a></h2>
</div>
<div class="container">
<small class='alert text-warning'>文件只有在打印店下载之前，或者确认付款之后才允许删除</small>
<p class='small alert alert-danger'>目前对部分<strong>手机</strong>浏览器<strong>上传功能</strong>不兼容，如果文件名显示为<code>乱码</code>，则上传失败，请更换其他浏览器(记得删除错误哦！)</p>
	<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
            <th>文件状态</th>
                <th>文件名</th>    
                <th>上传时间</th>
                <th>所选打印店</th>                
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <volist name="data" id="vo">
            <tr>
              
                <td id="{$vo.id}_status">
                    <switch name="vo['status']">
                    <case value="1">已上传</case>
                    <case value="2">已下载</case>
                    <case value="3">打印中</case>
                    <case value="4">已打印</case>
                    <case value="5">已支付</case>
                    <case value="0">已删除</case>
                    <default />未知状态
                    </switch>
                </td>
                <td><a href="__UPLOAD__/{$vo.url}">[{$vo.id}]{$vo.name}</a></td>
                <td>{$vo.time}</td>
                <td>{$vo.pri_name}[{$vo.pri_id}]</td>
                <td>
                <if condition="($vo.status gt 1)AND($vo.status lt 5)">
                    <button type="button" fid="{$vo.id}"class="btn btn-danger" disabled="disabled">删除</button>
                <else />
                    <button type="button" fid="{$vo.id}"class="delete btn btn-danger">删除</button>
                </if>
                </td>
            </tr>
            </volist>
        </tbody>
    </table>
    </div>
</div>
</block>
<block name='end'>
<script>
        $(".delete").on('click',function(){
            var con=confirm("确认删除?删除后无法找回");
            if(con)
            {
            var URL = "/Home/File/delete";
            var btn=$(this);
            var fid=btn.attr('fid');
            $.post(URL,{
                fid:fid,
            },function(data){
                if(data.status)
                {
                    btn.parent().parent().hide(1000);
                }else{
                    alert('操作失败：'+data.info);
                }
            });
            }
        });
</script>
</block>
