{//文件管理页}
<extend name="Public/template/base.html"/>
<block name='header'>
<include file="./Public/template/nav.html" list="current_page_item"/>
</block>
<block name='content'>
    <div class="title" >
        <h2>文档记录 <a class="btn btn-lg btn-primary" href="__MODULE__/File/add">上传文件</a></h2>
       
    </div>
    <div class="row">
        <form action="#" method="post" id="contact" role="form">
            <div class="col-md-7">
                <div class="form-group left-inner-addon">
                    <div align="left">
                        <table width="701" border="0" align="center" class="table-responsive">
                            <thead>
			    <tr>
                                <th width="185">所选打印店</th>
                                <th width="133">当前打印文件</th>
                                <th width="131">上传时间</th>
                                <th width="151">文件打印状态</th>
                                <th width="151">操作</th>
                            </tr>
		            </thead>
                            <tbody>
                            <volist name="data" id="vo">
                            <tr>
                                <td>{$vo.pri_name}({$vo.pri_id})</td>
                                <td><a href="__UPLOAD__/{$vo.url}">{$vo.name}</a></td>
                                <td>{$vo.time}</td>
                                <td id="{$vo.id}_status"> {$vo.status}</td>
                                <td>
                <button type="button" fid="{$vo.id}" id="{$vo.id}_button" class="delete btn btn-danger" autocomplete="off">Delete</button>
            </td>
           
                            </tr>
                            </volist>
                           </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</block>
<block name='end'>
     <script>
                $(".delete").on('click',function(){
                      var URL = "/Home/File/delete";
                    var btn=$(this);
                    var fid=btn.attr('fid');
                    $.post(URL,{
    fid:fid,
  },function(data){
    if(data.status)
    {
            btn.parent().parent().hide(2000);
    }else{
        alert('操作失败：'+data.info);
    }
  });
                });
            </script>
</block>