{//文件上传页}
<EXTEND name="Print/Template/base.html"/>
<BLOCK name='addhead'>
    <link href="__PUBLIC__/css/default.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/css/upload.css" rel="stylesheet" type="text/css"/>
</BLOCK>
<BLOCK name='header'>
<INCLUDE file="Print/Template/nav.html" add="active"/>
</BLOCK>
<BLOCK name='content'>
<div>
    <h2>设置打印信息<button class="btn btn-success" id="helpView">打印帮助</button></h2>
</div>
<div class="container-fluid">
    <div class="row" style="display:none;" id="help-info">
    <div class="col-lg-8 col-xs-12">
        <p class="text-info well">
        使用流程：<code>上传文件</code> -> <code>选择打印店</code> -> (<code>设置打印份数、格式</code> -> )<code>文件记录页查看状态</code> -><code> 取货</code>；<br/>
        不绑定手机不能设置打印参数，不能提前打印，只能上传后到店打印；<br/>
        暂时仅支持<code>pdf</code>、<code>doc(x)</code>、<code>wps</code>、<code>ppt(x)</code>格式的文件上传；<br/>
        如上传文件名出现<code>乱码</code>，请更换浏览器。电脑下Chrome效果最佳，手机建议使用UC浏览器；<br/>
        打印纸张统一为<code>A4</code>，有特殊需求可上传后到店打印；<br/>无论打印店队列多长，到店可直接取货。若打印店没有提前打印，你可以在店直接打印；<br/>
        对于提前打印的文件请于打印完成后<code>24小时</code>内取走；对于所有情况的打印请于<code>2天内</code>完成；<br/>
        当前提供价格仅供参考，所有打印店均可在<code>量大时减价</code>；</p>
    </div>
    </div>
    <br/>
    <form id="print" method="post" action="__URL__/uploadOne" enctype="multipart/form-data">
        <div class="row">
            <div class="text-center col-lg-8 col-lg-offset-1  col-md-8 col-xs-12">
                <div class="form-group">
                    <div class="upload-btn">
                        <div class="upload-area"><span class="glyphicon glyphicon-open"></span>点击上传文件<small>(不超过10MB)</small></div>
                        <input id="upload-file" type="file" name="file" accept="application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/pdf, application/vnd.ms-powerpoint, application/vnd.openxmlformats-officedocument.presentationml.presentation" onchange="checkSuffix()" 
                        multiple="multiple">
                    </div>
                </div>
                <ul id="upload-list" class="list-group"></ul>
                <span id="progress"></span>
            </div>
        </div>
        <br/>
        <div class="row form-group">
            <div class="col-lg-8 col-lg-offset-1 col-sm-10">
                <label for="PrinterChoose" class="sr-only">打印店</label>
                <select class="form-control" name="pri_id" id="PrinterChoose" onchange="priceChange(this)" required>
                    <option value="">选择想去的打印店....</option>
                    <volist name="data" id="vo">
                        <option value="{$vo['id']}">{$vo.name}({$vo.address})</option>
                    </volist>
                </select>
            </div>
        </div>
        <br/>
        <div class="row">        
            <div class="well col-lg-8 col-lg-offset-1  col-sm-12">
                <h4 class="text-info">该店价格信息</h4>
                <div id='price' class='help-block comments'>
                    黑白单面：<span id='p_s' class='text-danger'></span><br/>
                    黑白双面：<span id='p_d' class='text-danger'></span><br/>
                    彩印单面：<span id='p_c_s' class='text-danger'></span><br/>
                    彩印双面：<span id='p_c_d' class='text-danger'></span>
                </div>
            </div>
        </div>
        <IF condition="$lock eq 1">
        <div class="row form-group text-cneter">
                <div class="col-lg-2 col-lg-offset-1 col-xs-4 col-xs-offset-1">
                   <label for="ispre" class="sr-only">设置</label>
                    <input name="ispre" id="ispre" type="checkbox" data-label-text="设置" data-off-text="到店打印"  data-on-text="提前打印" data-off-color="success" data-on-color="warning" data-label-width="" disabled="true"/>
                </div>
                <div class="setting">
                <div class="col-lg-2 col-lg-offset-0 col-xs-4 col-xs-offset-1">
                <div class="input-group">
                    <label for="copies" class="sr-only">份数</label>
                    <input name="copies" type="number" placeholder="份数" class="form-control" id="copies" min="1" value="1"/>
                     <span class="input-group-addon">份</span>
                </div>
                </div>  
                <div class="col-lg-2 col-lg-offset-0 col-xs-4 col-xs-offset-1">
                    <label for="printcolor" class="sr-only">颜色</label>
                    <input type="checkbox" name="color" id="printcolor" value="1" type="checkbox" data-label-text="颜色" data-off-text="黑白打印"  data-on-text="彩色打印" data-on-color="warning" data-off-color="success" data-label-width=""/>
                </div>
                <div class="col-lg-2 col-lg-offset-0 col-xs-4 col-xs-offset-1">
                  <label for="double_side" class="sr-only">单双</label>
                    <input type="checkbox" name="double_side" id='double_side' value="1" data-label-text="单双" data-off-text="单面打印"  data-on-text="双面打印" data-on-color="warning" data-off-color="success" data-label-width="" disabled="true"/>
                </div>
        </div>
        </div>
         <div class="row form-group setting" id="pptprint">
                <div class="col-lg-8 col-lg-offset-1 col-sm-10">
                 <label for="default" class="sr-only">PPT格式</label>
                    <select id="default" class="form-control" name="ppt_layout">
                        <option value="">选择PPT打印格式....</option>
                        <volist name="ppt" id="vo" offset="1">
                            <option value="{$i}">{$vo}</option>
                        </volist>
                    </select>
                </div>
        </div>
        <div class="row form-group">
            <div class="setting col-lg-8 col-lg-offset-1 col-sm-10 col-xs-10 col-xs-offset-1">
                <label for="addtion-need" class='sr-only'>备注</label>
                <textarea id="addtion-need" class="form-control" placeholder="备注，若无可空白，限制32字以内" length="32" name="requirements"></textarea>
            </div>
        </div>
        <ELSE/>
        <div>
            <a href="__ROOT__/User"><b>绑定手机后可进行高级设置和提前打印</b></a>
        </div>
        </IF>
    <div class="row">
        <div class="form-group col-md-8 col-lg-offset-4 col-lg-1 ">
            <button type="submit" class="btn btn-lg btn-info" id="fileUploadButton" disabled="true">开始传送</button>
        </div>
    </div>
    </form>
</div>
</BLOCK>

<BLOCK name='end'>
<script src="__PUBLIC__/js/upload.js" defer="defer"></script>
<script src="__PUBLIC__/js/underscore-min.js" ></script>

<script language="javascript" type="text/javascript">

$(function(){
    $("[type='checkbox']").bootstrapSwitch();
    $('.setting').hide();
    
    $("#helpView").click(function(){
    $('#helpView').toggleClass('btn-warning');
    $('#help-info').toggle(100);});

    $('#ispre').on('switchChange.bootstrapSwitch',function(){
    var fn = $('#upload-file').val();
    var pos = fn.lastIndexOf('.');
    var suf = fn.substring(pos + 1);
    var other_suffix =['ppt' , 'pptx'];
    if($('#ispre').bootstrapSwitch('state') ==false){
        $('.setting').hide(100);
        $('#default').removeAttr('required');
    } else {
        $('.setting').show(100);
        if(other_suffix.indexOf(suf) < 0) {
            $('#default').removeAttr('required');
            $('#pptprint').hide();
        } else {
            $('#default').attr('required','true');
        }
    }
    });
});

var Files = function() {
    this.files = [];
    this.printer = null;
    this.print_ahead = null;
    this.length = 0;
};

 function priceChange(n){
    var pid = n.value;
    var URL = "/Printers/getPrice";
    $.post(URL, {
            pid : pid
        }, function(data) {
            if (data.status) {
                $('#p_c_s').html(data.info.p_c_s+'元/张');
                $('#p_c_d').html(data.info.p_c_d+'元/张');
                $('#p_s').html(data.info.p_s+'元/张');
                $('#p_d').html(data.info.p_d+'元/张');
            } else {
                $('#p_c_s').html("未设置");
                $('#p_c_d').html("未设置");
                $('#p_s').html("未设置");
                $('#p_d').html("未设置");
            }
        });
}

Files.prototype.addFile = function(file) {
    var legal = (file instanceof PDF)||(file instanceof DOC)||(file instanceof PPT)
    if (legal) {
        this.files.push(file);
    };
};

Files.prototype.delete = function(id) {
    var URL = "/File/deleteTempFile";
    var temp = this;
    $.post(URL, {
            filename : temp.files[id].newName
        }, function(data) {
            if (data.status) {
                alert(data.info);
                temp.files[id] = undefined;
                temp.length--;
            } else {
                alert(data.info);
            }
        });
};

Files.prototype.reUpload = function(id) {
    this.files[id].getToken();
};

function File(id,name,suffix)
{
    this.id = id;
    this.name = name;
    this.suffix = suffix;
    this.token = null;
    this.uploadStatus = false;
    this.newName = null;
}


// function completeHandler (myXhr,status) {
//     if (myXhr.readyState==4) {
//         // var temp_name = myXhr.
//         var file_view = $('#file_'+myXhr.id);
//         var span = file_view.find(span);
//         if (myXhr.status==200) {
//             myXhr.uploadStatus = true;
//             span.html('uploaded');
//             span.append('<button type="button" class="btn btn-danger btn-xs delete" onclick="deleteFile(this)">delete</button>');
//         }
//         else {
//             span.html('upload failed');
//             span.append('<button type="button" class="btn btn-primary btn-xs re-upload" onclick="reUpload(this)">reUpload</button>');
//         }
//     }
// }
// function beforeSendHandler (myXhr,settings) {
    
// }
// function errorHandler (myXhr,status,error) {
    
// }

// function progressHandlingFunction (e) {
//     if (e.lengthComputable) {
//         $('#progress').html('value:'+e.loaded+'max:'+e.total);
//     };
// }
// File.prototype.uploadFile = function() {
//     var url = 'http://upload.qiniu.com/';
//     var file = document.getElementById('upload-file').files[this.id];
//     var fd = new FormData();
//     fd.append('file',file);
//     fd.append('token',this.token);
//     fd.append('key',this.newName);
//     $.ajax({
//         url:url,
//         type:'POST',
//         xhr:function  () {
//             var myXhr = $.ajaxSettings.xhr();
//             if (myXhr.upload) {
//                 myXhr.upload.addEventListener('progress',progressHandlingFunction,false);
//             };
//             return myXhr;
//         },
//         beforeSend: beforeSendHandler,
//         complete: completeHandler,
//         error: errorHandler,
//         data: fd,
//         cache: false,
//         contentType:false,
//         processData: false
//     });
// };


File.prototype.uploadFile = function() {
    var url = 'http://upload.qiniu.com/';
    var fd = new FormData();
    var file = document.getElementById('upload-file').files[this.id];
    fd.append('file',file);
    fd.append('token',this.token);
    fd.append('key',this.newName);
    var xmlhttp=null;
    if (window.XMLHttpRequest)
    {
        xmlhttp=new XMLHttpRequest();
    }
    else if (window.ActiveXObject)
    {
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
    if (xmlhttp!=null)
    {
        xmlhttp.onreadystatechange=uploaded;
        xmlhttp.open("POST",url,true);
        xmlhttp.send(fd);
        xmlhttp.id = this.id;
    }
    else
    {
        var file_view = $('#file_'+this.id);
        var span = file_view.find(span);
        span.html('Your browser does not support XMLHTTP');
    }
}

function uploaded() {
    if (this.readyState==4) {
        var file_view = $('#file_'+this.id);
        var span = file_view.find('span');
        if (this.status==200) {
            file_queue.files[this.id].uploadStatus = true;
            file_queue.length++;
            span.html('uploaded');
            span.append('<button type="button" class="btn btn-danger btn-xs delete" onclick="deleteFile(this)">delete</button>');
        }
        else {
            span.html('upload failed');
            span.append('<button type="button" class="btn btn-primary btn-xs re-upload" onclick="reUpload(this)">reUpload</button>');
        }
    }
}


File.prototype.getToken = function() {
    var URL = "__ROOT__/File/getToken";
    var temp = this;
    $.get(URL,function(data){
        if(data.status)
        {
            temp.token = data.info.token;
            temp.newName = data.info.name;
            temp.uploadFile();
        }else{
            var file_view = $('#file_'+this.id);
            var span = file_view.find(span);
            span.html('get token fail');
            span.append('<button type="button" class="btn btn-primary btn-xs re-upload" onclick="reUpload(this)">reUpload</button>');
        }
    });
};
var temp = function() {};
temp.prototype = File.prototype;

var PDF = function(id,name,suffix) {
    File.apply(this,arguments);
    $("#upload-list").append('<li class="list-group-item" id="file_'+id+'">当前文件：'+name +'<span style="color:red">uploading</span></li>');
}
PDF.prototype = new temp();

var DOC = function(id,name,suffix) {
    File.apply(this,arguments);
    $("#upload-list").append('<li class="list-group-item" id="file_'+id+'">当前文件：'+name +'(支持的格式，但更推荐pdf)<span style="color:red">uploading</span></li>');
}
DOC.prototype = new temp();

var PPT = function(id,name,suffix) {
    File.apply(this,arguments);
    $("#upload-list").append('<li class="list-group-item" id="file_'+id+'">当前文件：'+name +'<span style="color:red">uploading</span></li>');
}
PPT.prototype = new temp();
    
var file_queue = new Files();
var fileData = new FormData();
var doc_suffix = ['doc', 'docx', 'wps'];
var pdf_suffix = ['pdf'];
var other_suffix = ['ppt', 'pptx'];

function checkSuffix() {
    $("#ispre").bootstrapSwitch('disabled',false);
    $("#pptprint").hide();
    $('#copies').attr('disabled', false);
    $('#double_side').bootstrapSwitch('disabled', false);
    $('#printcolor').bootstrapSwitch('disabled', false);
    $("#fileUploadButton").attr('disabled', false);
    var files = document.getElementById('upload-file').files;
    for (var i = 0,j=0; file = files[i]; i++) 
    {
        var filename = file.name;
        var pos = filename.lastIndexOf('.');
        var suffix = filename.substring(pos+1);
        var newFile = null;
        if (other_suffix.indexOf(suffix)>=0)
        {
            newFile = new PPT(j,filename,suffix);
            newFile.getToken();
            file_queue.addFile(newFile);
            j++;
            $('#pptprint').show();
            $('#default').attr('required','true');
        }
        else if (pdf_suffix.indexOf(suffix)>=0) 
        {
            newFile = new PDF(j,filename,suffix);
            newFile.getToken();
            file_queue.addFile(newFile);
            j++;
        }
        else if (doc_suffix.indexOf(suffix)>=0)
        {            
            newFile = new DOC(j,filename,suffix);
            newFile.getToken();
            file_queue.addFile(newFile);
            j++;
        }
        else
        {
            //
        }
    }
}

$("#helpView").click(function(){
    $('#helpView').toggleClass('btn-warning')
    $('#help-info').toggle(100);
});

$("#print").submit(function(e){
    e.preventDefault();
    var filenames = [];
    var newNames = [];
    for (var i = 0; i < file_queue.files.length; i++) {
        var file = file_queue.files[i];
        if (file!==undefined) {
            if (file.uploadStatus==false) {
                return false;
            }
            filenames.push(file.name);
            newNames.push(file.newName);
            suffixes.push(file.suffix);
        }
    }
    var url = '__URL__/upload';
    var copies = $('#ispre').bootstrapSwitch('state')?$('#copies').val():0;
    var pri_id = $('#pri_id').val();
    var color = $('#printcolor').bootstrapSwitch('state');
    var double_side = $('#double_side').bootstrapSwitch('state');
    var addtion_need = $('#addtion-need').val();
    var ppt_layout = $('default').val();
    $.post(url, {
            'filenames[]':filenames,
            'newNames[]':newNames,
            'suffixes[]':suffixes,
            number:file_queue.length,
            pri_id:pri_id,
            color:color,
            double_side:double_side,
            copies:copies,
            ppt_layout:ppt_layout,
            requirements:addtion_need
        }, function(data) {
            if (data.status) {

            } else {
            }
        });
});

function deleteFile (e) {
    var id = e.parentNode.parentNode.getAttribute('id').replace(/file_/,"");
    id = parseInt(id);
    file_queue.delete(id);
    $('#file_'+id).remove();
}

function reUpload (e) {
    var id = e.parentNode.parentNode.getAttribute('id').replace(/file_/,"");
    id = parseInt(id);
    file_queue.reUpload(id);
}


</script>
</BLOCK>
