---
layout: master
---
<div class="container-fluid">
  <div class="row">
    <div class="hidden-xs col-md-2 col-sm-3 blue sidebar">
      {% include sidemenu.html %}
    </div> <!-- Side column -->
    <div class="col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3">
      <article class="col-md-12 col-xs-12 justified">
        <h1 class="post-title">{{ page.title }}</h1>
        <div>
          <span class="publish-tag glyphicon glyphicon-calendar">发布于 {{ page.date | date: "%B %d, %Y" }}</span><span class="glyphicon glyphicon-tag">Tags:</span>
        {% if page.tags %}
          {% for tag in page.tags %}    
            <a href="/tags/#{{tag}}"><span class="label label-primary">{{tag}}</span></a>
          {% endfor %}
        {% else %}  
          None
        {% endif %}
        </div>
        {{ content }}
        <br/>
      </article> 
      <div>
      <a class="glyphicon glyphicon-edit" href="{{site:editurl}}{{page.path}}">修改此页内容(任何人都可以提交修改)</a>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-6 text-left">
       	{% if page.previous.url %}
        	<a class="btn btn-blue" href="{{page.previous.url}}">←上一篇</a>
        {% else %}
        	<span class="btn btn-blue disabled">←上一篇</span>
        {% endif %}
        </div>
        <div class="col-sm-6 col-xs-6 text-right">
        {% if page.next.url %}
        	<a class="btn btn-blue" href="{{page.next.url}}">新的一篇→</a>
        {% else %}
        	<span class="btn btn-blue disabled">新的一篇→</span>
        {% endif %} 
        </div>
      </div>
       <iframe id="WBCommentFrame" src="http://widget.weibo.com/distribution/comments.php?width=0&url={{site.url}}{{page.url}}&ralateuid=5477691175&appkey=2681865267" scrolling="no" frameborder="0" style="width:100%"></iframe>
      {% include footer.html %}  
    </div> <!-- content area column -->
  </div> <!-- row  -->
</div> <!-- container -->
<script src="http://tjs.sjs.sinajs.cn/open/widget/js/widget/comment.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
window.WBComment.init({"id": "WBCommentFrame"});
</script>