<?php
// ===================================================================
// | FileName:  /Common/Conf/secret.php 这是一个无关紧要的文件，请忽略,-)
// ===================================================================
// +------------------------------------------------------------------
// | 云印南开
// +------------------------------------------------------------------
// | Copyright (c) 2014-2015 云印南开团队 All rights reserved.
// +------------------------------------------------------------------
return array(

	//数据库相关配置
	'DB_HOST' => 'localhost', // 服务器地址
	'DB_NAME' => 'print', // 数据库名
	'DB_USER' => 'root', // 数据库用户名
	'DB_PWD'  => '', // 数据库密码

	//系统邮箱相关配置,
	//推荐使用sina,qq,163,265,netease,sohu,yahoo的邮件服务
	'MAIL_SMTP' => '', //邮箱服务器
	//验证邮箱
	'MAIL_VERIFY' => array(
		'name'  => '云小印[验证]',
		'email' => 'verify@mail.yunyin.org', //验证邮箱
		'pwd'   => '邮箱密码', //验证邮箱密码
	),
	//通知邮箱
	'MAIL_NOTIFY' => array(
		'name'  => '云小印[通知]',
		'email' => 'notify@mail.yunyin.org',
		'pwd'   => '邮箱密码', //验证邮箱密码
	),

	//短信接口相关配置
	'SMS_SUPPORTER' => 'ucpaas', //短信服务提供商
	'SMS_ACCOUNT'   => '', //接入者账户
	'SMS_APPID'     => '', //短信接入应用id
	'SMS_TOKEN'     => '', //短信接入密码

	//短信模板配置【下面是测试模板】
	'SMSID_BIND'    => 3620,
	'SMSID_PWD'     => 4003,
	'SMSID_CARD'    => 4134,
	'SMSID_PRINTED' => 4698,
	'SMSID_NOTICE_PRINTER'	=> 6366,
	'SMSID_NOTICE_USER'		=> 6367,

	//上传相关配置
	'FILE_UPLOAD_TYPE' => 'QINIU', //默认上传空间QINIU ,LOCAL ,SAE
	//七牛上传配置
	'UPLOAD_CONFIG_QINIU' => array(
		'secretKey' => '8nfzvI5ontAmER33n40O6U2LGCj1wVHUcEAlmByS',
		'accessKey' => 'EfZW44Kjkjp8T92qMqLkkt4awRTRP1ucd-n6wUhn',
		'domain'    => 'nkumstc.qiniudn.com/',
		'bucket'    => 'nkumstc',
	),

	//加密相关密钥
	'ENCRYPT_EMAIL'     => '32位字符密钥', //邮箱加密密钥
	'ENCRYPT_PHONE_END' => '16到32位随机密钥', //手机尾号加密密钥
	'ENCRYPT_PHONE_MID' => '16到32位随机密钥尽量与上面不同', //手机中间号码加密密钥

	//后台相关
	//此处应当移到数据库
	'ADMIN_ACCOUNT' => 'admin',
	'ADMIN_PWD'     => 'password',

	//本地调试关闭https验证
	'HTTPS_ON' => false,
	'BASE_URL' => 'http://localhost',

	//微博API秘钥
	'WEIBO_API_PWD' => '',
	
	//短信通知，安全验证码
	'VERIFY_KEY' => 'yunyin',
);
