<?php
// ===================================================================
// | FileName: 	/Common/Conf/secret.php 这是一个无关紧要的文件，请忽略,-)
// ===================================================================
// +------------------------------------------------------------------
// | 云印南开
// +------------------------------------------------------------------
// | Copyright (c) 2014 云印南开团队 All rights reserved.
// +------------------------------------------------------------------
return array(
    
    //数据库相关配置
    'DB_HOST'                =>  'localhost', // 服务器地址
    'DB_NAME'               =>  'print',        // 数据库名
    'DB_USER'                 =>  'root',      // 数据库用户名
    'DB_PWD'                  =>  ' ',          // 数据库密码

    //邮箱相关配置
    'MAIL_SMTP'           =>'',//邮箱服务器
    'NOITFY_EMAIL'    =>'',//通知邮箱
    'NOTIFY_PWD'       =>'',//通知邮箱密码
    'VERIFY_EAMIL'     =>'',//验证邮箱
    'VERIFY_PWD'        =>'',//验证邮箱密码

    //短信接口相关配置
    'SMS_APPID'        =>'',//短信接入id或者账户
    'SMS_TOKEN'       =>'',//短信接入密码

    //加密相关密钥
    'ENCRYPT_EMAIL'               =>'',//邮箱加密密钥
    'ENCRYPT_PHONE_END'   =>'',//手机尾号加密密钥
    'ENCRYPT_PHONE_MID'   =>'',//手机中间号码加密密钥
  );